@use "./components/mixins.scss" as mixin;

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: 0;
}
.main {
  animation: appear 5s ease;
}
ul,
li {
  list-style: none;
}
a {
  text-decoration: none;
}
.tablet {
  display: none;
}
.desktop {
  display: block;
}
.app {
.main {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  transition: 0.5s ease;
  background-color: rgb(22, 21, 21);
}
.main.about {
  background-attachment: fixed;
}

.wrapper {
  @include mixin.displayFlex(row, start, flex-end);
  z-index: 4;
}
}
@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes opas {
  from {
    margin-top: 400px;
  }
  to {
    margin-top: 0;
  }
}
