@use "../components/mixins" as mixin;

.about {
  width: 100%;
  height: 100vh;
  position: relative;
  .container-about {
    margin: 10% 0;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    position: relative;
  }

  position: absolute;

  section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    min-height: 70vh;
    width: 75vw;
    margin: 0 auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 12px;
    display: flex;
  }

  .image {
    background-color: #12192c;
    display: flex;
    border-radius: 12px 0 0 12px;
  }
  .image img {
    height: 50vh;
    margin: 50px auto;
  }
  .content {
    background-color: #12192c;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border-radius: 0 12px 12px 0;
    color: #fff;
  }
  .content h2 {
    text-transform: uppercase;
    font-size: 36px;
    letter-spacing: 6px;
    opacity: 0.9;
    color: #ffb808;
    margin: 12px 26px;
  }
  .content span {
    height: 0.5px;
    width: 80px;
    background: #ffb808;
    margin: 30px 0;
  }
  .content p {
    padding-bottom: 15px;
    font-weight: 300;
    opacity: 0.7;
    width: 60%;
    min-width: 55%;
    max-width: 60%;
    text-align: left;
    margin: 0 auto;
    line-height: 1.7;
    color: #ffffff;
    white-space: wrap;
  }
  .linksz {
    margin: 15px 0;
    display: flex;
  }
  .linksz li {
    border: 2px solid #4158d0;
    list-style: none;
    border-radius: 5px;
    padding: 10px 15px;
    width: 160px;
    text-align: center;
    margin: 0 8px;
  }
  .linksz li a {
    text-transform: uppercase;
    color: #fff;
    text-decoration: none;
  }
  .linksz li:hover {
    border-color: #ffb808;
  }

  .vertical-line {
    height: 30px;
    width: 3px;
    background: #ffb808;
    margin: 0 auto;
  }
  .icons {
    display: flex;
    padding: 15px 0;
  }
  .icons li {
    display: block;
    padding: 5px;
    margin: 5px;
  }
  .icons li a {
    font-size: 26px;
    opacity: 0.8;
    color: white;
    &:hover {
      color: #ffb808;
    }
  }

  /*****************/

  @media (max-width: 900px) {
    section {
      display: flex;
      width: 100%;
      border-radius: none;
    }
    .image {
      height: 100vh;
      border-radius: none;
    }
    .content {
      height: 100vh;
      border-radius: none;
    }
    .content h2 {
      font-size: 20px;
      margin-top: 50px;
    }
    .content span {
      margin: 20px 0;
    }
    .content p {
      font-size: 14px;
    }
    .linksz li a {
      font-size: 14px;
    }
    .linksz {
      margin: 5px 0;
    }
    .linksz li {
      padding: 6px 10px;
    }
    .icons li i {
      font-size: 15px;
    }
  }

  //   Footer
  .footer-distributed {
    background: rgb(68, 68, 68);
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: bold 16px sans-serif;
    padding: 55px 50px;
  }
  .footer-left {
    display: flex;
  }
  .footer-distributed .footer-left,
  .footer-distributed .footer-center,
  .footer-distributed .footer-right {
    display: inline-block;
    vertical-align: top;
  }

  /* Footer left */

  .footer-distributed .footer-left {
    width: 40%;
    display: inline-block;
  }

  /* The company logo */
  .footer-left {
    display: flex;
  }
  .logso {
    margin: 0;
    width: 27%;
  }

  /* Footer links */

  .footer-distributed .footer-links {
    color: #ffb808;
    padding: 0;
  }

  .footer-distributed .footer-links a {
    display: inline-block;
    line-height: 1.8;
    font-weight: 400;
    text-decoration: none;
    color: inherit;
  }

  .footer-distributed .footer-company-name {
    color: #222;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
  }

  /* Footer Center */

  .footer-center {
    width: 40%;
    p span {
      display: block;
      font-weight: normal;
      font-size: 14px;
      line-height: 2;
    }
    a {
      color: #ffb808;
      text-decoration: none;
    }
    .desz {
      margin-bottom: 10px;
    }
  }

  .footer-distributed .footer-center p a {
    color: #ffb808;
    text-decoration: none;
  }

  .footer-distributed .footer-links a:before {
    content: "|";
    font-weight: 300;
    font-size: 20px;
    left: 0;
    color: #ffb808;
    display: inline-block;
    padding-right: 5px;
    margin-left: 5px;
  }

  .footer-distributed .footer-links .link-1:before {
    content: none;
  }

  /* Footer Right */

  .footer-distributed .footer-right {
    width: 20%;
  }

  .footer-distributed .footer-company-about {
    line-height: 20px;
    color: #92999f;
    font-size: 13px;
    font-weight: normal;
    margin: 0;
  }

  .footer-distributed .footer-company-about span {
    display: block;
    color: #ffffff;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 20px;
  }

  .footer-distributed .footer-icons ul {
    display: flex;
    margin-top: 25px;
    justify-content: center;
    align-items: center;
  }

  .footer-distributed .footer-icons li a {
    display: inline-block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    background-color: #ffb808;
    border-radius: 2px;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 40px;
    margin: 0 10px;
    border-radius: 50%;
  }
  #middle-spot {
    margin: 2% auto;
  }
  /* If you don't want the footer to be responsive, remove these media queries */

  @media (max-width: 880px) {
    .footer-distributed {
      font: bold 14px sans-serif;
      top: 1000px;
    }

    .footer-distributed .footer-left,
    .footer-distributed .footer-center,
    .footer-distributed .footer-right {
      display: block;
      width: 100%;
      margin-bottom: 40px;
      text-align: center;
    }

    .footer-distributed .footer-center i {
      margin-left: 0;
    }
  }
}
@media (max-width: 880px) {
  .container-about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

#partners {
  margin: 0 auto;
  width: 90%;
  left: 0;
  right: 0;
  box-shadow: none;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  .partnerz {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
  .section-title-work {
    color: #ffb808;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: 900;
    border-bottom: 2px solid black;
  }

  .links {
    margin: 5% auto;
    justify-content: center;
    align-items: center;
    width: 100%;
    ul {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;

      li {
        display: flex;
        align-items: center;
        margin-left: 10%;
      }
      img {
        margin: 0;
        padding: 0;
        width: 80%;
      }
    }
  }
}
#work {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  min-height: 70vh;
  border: none;
  width: 100%;
  position: relative;
  margin: 10% auto;
  box-shadow: none;
  .section-title-work {
    color: #ffb808;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: 900;
    border-bottom: 2px solid black;
  }
  .box-wrapper {
    display: grid;
    grid-template-columns: 2fr 2fr;
    grid-template-rows: 2fr 2fr;
    grid-gap: 1em;
  }
  .baks {
    width: 50%;
    margin: 30px auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    p {
      font-size: 20px;
    }
    .logo-game {
      width: 30%;
      border-bottom: 2px solid yellow;
      margin: 2% 0;
      margin-bottom: 5%;
      img {
        width: 100%;
      }
    }
    #g1 {
      width: 50%;
    }
    #g2 {
      width: 50%;
    }
  }
  #should {
    width: 25%;
    position: absolute;
  }
}

#services {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  margin: 10% auto 0;
  box-shadow: none;
  .section-title-work {
    color: #ffb808;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: 900;
    border-bottom: 2px solid black;
    margin: 0 auto 5%;
  }
}
.row-about {
  display: grid;
  grid-template-columns: 2fr 2fr;
  grid-gap: 30px;
}

.service {
  text-align: center;
  padding: 25px 10px;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
  background: transparent;
  transition: transform 0.5s, background 0.5s;
}

.service .i {
  font-size: 40px;
  margin-bottom: 10px;
  color: #303ef7;
}

.service h2 {
  font-weight: 600;
  margin-bottom: 8px;
}

.service:hover {
  background: #303ef7;
  color: #fff;
  transform: scale(1.05);
}
.service p {
  font-size: 18px;
}

.service:hover .i {
  color: #fff;
}
.footer-distributed .footer-links a:after {
  content: "|";
  font-weight: 300;
  font-size: 20px;
  left: 0;
  color: #ffb808;
  display: inline-block;
  padding-right: 5px;
  margin-left: 5px;
}
.about {
  .bootons {
    position: fixed;
    bottom: 10%;
    right: 3%;
    z-index: 999;
    font-size: 25px;
    background-color: #ffb808;
    font-weight: 999;
    &:hover {
      background-color: #33383b;
    }
    #up {
      color: white;
      padding: 15px 15px;
      width: 100%;
    }
  }
}
