$fuschia: #000000;
$button-bg: $fuschia;
$button-text-color: #fff;
$baby-blue: #f8faff;
.admin {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 9999;
  .admin-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    .admin-left {
      width: 50%;
      height: 100%;
      background-color: rgb(0, 0, 0);
      color: white;
      .sub-components {
        height: 100%;
        width: 100%;
        #logout {
          font-family: "Helvetica", "Arial", sans-serif;
          display: inline-block;
          font-size: 1em;
          padding: 0.5em 2em;
          margin: 0 2%;
          margin-bottom: 20px;
          margin-top: 10px;
          -webkit-appearance: none;
          appearance: none;
          background-color: rgba(0, 153, 255, 0.5);
          color: $button-text-color;
          border-radius: 4px;
          border: none;
          cursor: pointer;
          position: relative;
          transition: transform ease-in 0.1s, box-shadow ease-in 0.25s;
          box-shadow: 0 2px 25px rgba(0, 153, 255, 0.5);
          &:focus {
            outline: 0;
          }
        }
        .game-components {
          #lel,
          #lele,
          #lelele,
          #lelelele {
            width: 30%;
            background-color: #6e6e6e;
            color: white;
            margin: 2% 0;
            font-family: "Helvetica", "Arial", sans-serif;
            display: inline-block;
            font-size: 1em;
            margin: 0 5px;
            padding: 0.5em 1em;
            -webkit-appearance: none;
            appearance: none;
            color: $button-text-color;
            border-radius: 4px;
            cursor: pointer;
            position: relative;
          }
          width: 100%;
          display: flex;
          justify-content: space-around;
          margin-bottom: 20px;
          #choose1:checked ~ #lel {
            color: black;
            background-color: white;
          }
          #choose2:checked ~ #lele {
            background-color: white;
            color: black;
          }
          #choose3:checked ~ #lelele {
            background-color: white;
            color: black;
          }
          #choose4:checked ~ #lelelele {
            background-color: white;
            color: black;
          }
        }
        .sub-contents {
          display: flex;
          flex-direction: column;
          label {
            width: 30%;
            background-color: #6e6e6e;
            color: white;
            margin: 2% 0;
            margin-left: 10%;
            font-family: "Helvetica", "Arial", sans-serif;
            display: inline-block;
            font-size: 1em;
            padding: 0.5em 1em;
            margin-bottom: 60px;
            -webkit-appearance: none;
            appearance: none;
            color: $button-text-color;
            border-radius: 4px;
            border: 1px solid rgba(255, 255, 255, 0.5);
            cursor: pointer;
            position: relative;
          }
          #sub1:checked ~ #submen1 {
            background-color: white;
            color: black;
          }
          #sub2:checked ~ #submen2 {
            color: black;
            background-color: white;
          }
          #sub3:checked ~ #submen3 {
            background-color: white;
            color: black;
          }
          #sub4:checked ~ #submen4 {
            background-color: white;
            color: black;
          }
        }
        .buttonzs {
          button {
            width: 30%;
            background-color: #a54e4e;
            color: white;
            margin: 2% 0;
            margin-left: 5%;
            font-family: "Helvetica", "Arial", sans-serif;
            font-size: 1em;
            padding: 0.5em 1em;
            margin-bottom: 60px;
            -webkit-appearance: none;
            appearance: none;
            color: $button-text-color;
            border-radius: 4px;
            border: 1px solid rgba(255, 255, 255, 0.5);
            cursor: pointer;
          }
        }
        input[type="text"] {
          width: 70%;
          height: 30px;
          margin: 2% auto;
          margin-left: 10%;
        }
      }
    }
    .admin-right {
      width: 100%;
      height: 100vh;
      display: flex;
      flex-direction: column;
      background-color: gray;
      .main-tools {
        display: flex;
        align-items: center;
        justify-content: center;
        .tools {
          font-family: "Helvetica", "Arial", sans-serif;
          display: inline-block;
          font-size: 1em;
          padding: 1em 2em;
          margin-bottom: 40px;
          margin-top: 2%;
          -webkit-appearance: none;
          appearance: none;
          background-color: $button-bg;
          color: $button-text-color;
          border-radius: 4px;
          border: 1px solid rgba(0, 255, 225, 0.5);
          cursor: pointer;
          position: relative;
          transition: transform ease-in 0.1s, box-shadow ease-in 0.25s;
          box-shadow: 0 2px 25px rgba(0, 255, 225, 0.5);

          &:focus {
            outline: 0;
          }

          &:before,
          &:after {
            position: absolute;
            content: "";
            display: block;
            width: 140%;
            height: 100%;
            left: -30%;
            z-index: -1000;
            transition: all ease-in-out 0.5s;
            background-repeat: no-repeat;
          }

          &:before {
            display: none;
            top: -75%;
            background-image: radial-gradient(
                circle,
                $button-bg 30%,
                transparent 30%
              ),
              radial-gradient(
                circle,
                transparent 30%,
                $button-bg 30%,
                transparent 30%
              ),
              radial-gradient(circle, $button-bg 30%, transparent 30%),
              radial-gradient(circle, $button-bg 30%, transparent 30%),
              radial-gradient(
                circle,
                transparent 20%,
                $button-bg 15%,
                transparent 30%
              ),
              radial-gradient(circle, $button-bg 30%, transparent 30%),
              radial-gradient(circle, $button-bg 30%, transparent 30%),
              radial-gradient(circle, $button-bg 30%, transparent 30%),
              radial-gradient(circle, $button-bg 30%, transparent 30%);
            background-size: 20% 20%, 30% 30%, 15% 15%, 30% 30%, 18% 18%,
              20% 20%, 15% 15%, 20% 20%, 18% 18%;
            //background-position: 0% 80%, -5% 30%, 20% 40%, 30% 0%, 30% 30%, 22% 50%, 50% 50%, 65% 30%, 85% 30%;
          }
          &:after {
            display: none;
            bottom: -75%;
            background-image: radial-gradient(
                circle,
                $button-bg 30%,
                transparent 30%
              ),
              radial-gradient(circle, $button-bg 30%, transparent 30%),
              radial-gradient(
                circle,
                transparent 20%,
                $button-bg 15%,
                transparent 30%
              ),
              radial-gradient(circle, $button-bg 30%, transparent 30%),
              radial-gradient(circle, $button-bg 30%, transparent 30%),
              radial-gradient(circle, $button-bg 30%, transparent 30%),
              radial-gradient(circle, $button-bg 30%, transparent 30%);
            background-size: 15% 15%, 30% 30%, 18% 18%, 30% 30%, 15% 15%,
              20% 20%, 30% 30%;
            //background-position: 5% 90%, 20% 90%, 20% 90%, 15% 90%, 25% 90%, 25% 90%, 40% 90%, 55% 90%, 70% 90%;
          }
          &:active {
            transform: scale(0.9);
            background-color: darken($button-bg, 5%);
            box-shadow: 0 2px 25px rgba(255, 0, 130, 0.2);
          }

          &.animate {
            &:before {
              display: block;
              animation: topBubbles ease-in-out 0.75s forwards;
            }
            &:after {
              display: block;
              animation: bottomBubbles ease-in-out 0.75s forwards;
            }
          }
        }
        input {
          opacity: 0;
          height: 0;
          width: 0;
          margin: 0;
          padding: 0;
          position: fixed;
          top: 0;
        }
      }
      .content-web {

          .ggr-admin-contents {
            background-image: url("/src/images/gogoracingbackground/withlogo.png");
            background-repeat: no-repeat;
            background-size: 100% 100%;
            background-position: center;
            background-attachment: fixed;
            height: 100%;
            margin-top: 5%;
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            .ggr-admcontents1 {
              width: 70%;
              height: 100%;
              background-color: white;
              margin-top: 10%;
              display: flex;
              flex-direction: column;
              margin-top: 13%;
              margin-bottom: 5%;
              padding-bottom: 5%;
              .ggr-header {
                display: flex;
                flex-direction: column;
                background-color: rgb(48, 48, 48);
                color: white;
                width: 100%;
                height: 45%;
                border-top: 8px solid black;
                margin-bottom: 5%;
              }
              .ggr-top {
                display: flex;
                justify-content: space-between;
                height: 5vh;
                align-items: center;
                .ggr-left {
                  font-size: 16px;
                  display: flex;
                  align-items: center;
                  margin-left: 1%;
                  width: 100%;
                  a {
                    margin-left: 0;
                    font-size: 30px;
                    color: white;
                    margin-right: 2%;
                  }
                }
                .ggr-right {
                  margin-right: 2%;
                  display: flex;
                  justify-content: center;
                  align-self: center;
                  form {
                    position: relative;
                    display: flex;
                    label {
                      margin-right: 5px;
                    }
                  }
                  a {
                    display: block;
                    cursor: pointer;
                    padding: 7px 10px;
                    border-radius: 3px;
                    background-color: #51575a;
                    color: white;
                    &:hover {
                      background-color: azure;
                      color: black;
                    }
                  }
                  #selection {
                    display: none;
                  }
                  #text-search {
                    position: absolute;
                    right: 65%;
                    width: 450%;
                    height: 100%;
                    border-radius: 8px;
                    display: none;
                    padding-left: 5px;
                  }
                  input[type="checkbox"] {
                    opacity: 0;
                  }
                  #searchs {
                    cursor: pointer;
                    padding: 7px 10px;
                    border-radius: 3px;
                    background-color: #51575a;
                    &:hover {
                      background-color: azure;
                      color: black;
                    }
                  }
                  #submit {
                    transform: translate(0, -9000%);
                  }
                  #submitted {
                    display: none;
                  }
                  #close {
                    display: none;
                  }
                  #search:checked ~ #searchs {
                    display: none;
                  }
                  #search:checked ~ #text-search {
                    display: block;
                  }
                  #submit {
                    transform: translate(0, -9000%);
                  }
                  #search:checked ~ #close {
                    display: block;
                    cursor: pointer;
                    padding: 7px 10px;
                    border-radius: 3px;
                    background-color: #51575a;
                    &:hover {
                      background-color: azure;
                      color: black;
                    }
                  }
                  #search:checked ~ #selection {
                    display: block;
                    position: absolute;
                    outline: none;
                    right: 530%;
                    width: 100%;
                    height: 100%;
                    border-radius: 7px;
                  }
                  #search:checked ~ #submitted {
                    display: block;
                    cursor: pointer;
                    padding: 7px 10px;
                    border-radius: 3px;
                    background-color: #51575a;
                    &:hover {
                      background-color: azure;
                      color: black;
                    }
                  }
                }
              }
              img {
                -webkit-touch-callout: none;
                -webkit-user-select: none;
                -khtml-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
                user-select: none;
              }
              .ggr-admins-contents {
                width: 50%;
                h1 {
                  background-color: #116682;
                  color: white;
                  display: flex;
                  flex-direction: column;
                  justify-content: center;
                  margin-left: 2%;
                  width: 45%;
                  margin-bottom: 3%;
                }
                h2 {
                  margin-bottom: 2%;
                  width: 45%;
                }
                h2 {
                  margin-left: 2%;
                }
                ul {
                  margin-left: 2%;
                  li {
                  width: 45%;

                    margin-bottom: 3%;
                    &::before {
                      content: "⚡ ";
                    }
                    ul {
                      li {
                        margin-top: 2%;
                        &::before {
                          content: "➟ ";
                        }
                      }
                    }
                  }
                }
            }
          }
        }
        

        
        .ggr-top {
          display: flex;
          justify-content: space-between;
          height: 5vh;
          align-items: center;
          .ggr-left {
            font-size: 16px;
            display: flex;
            align-items: center;
            margin-left: 1%;
            width: 100%;
            a {
              margin-left: 0;
              font-size: 30px;
              color: white;
              margin-right: 2%;
            }
          }
        }
      }

      .ggr-update-contents {
        width: 50%;
        background-color: white;
        margin: 0 auto;

        ul {
          margin-left: 2%;
          li {
            margin-bottom: 3%;
            margin-top: 3%;
            &::before {
              content: "⚡ ";
            }
            ul {
              li {
                margin-top: 2%;
                a {
                  margin-left: 2px;
                  color: rgb(95, 95, 255);
                }
                &::before {
                  content: "➟ ";
                }
              }
            }
          }
        }
      }
    }
  }
}
@keyframes topBubbles {
  0% {
    background-position: 5% 90%, 20% 90%, 20% 90%, 15% 90%, 25% 90%, 25% 90%,
      40% 90%, 55% 90%, 70% 90%;
  }
  50% {
    background-position: 0% 80%, 0% 30%, 20% 40%, 30% 0%, 30% 30%, 22% 50%,
      50% 50%, 65% 30%, 90% 30%;
  }
  100% {
    background-position: 0% 70%, 0% 20%, 20% 30%, 30% -20%, 30% 30%, 22% 40%,
      50% 40%, 65% 20%, 90% 30%;
    background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
  }
}

@keyframes bottomBubbles {
  0% {
    background-position: 20% -20%, 30% 20%, 55% -20%, 70% -20%, 85% -20%,
      70% -20%, 70% 0%;
  }
  50% {
    background-position: 0% 80%, 30% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%,
      105% 0%;
  }
  100% {
    background-position: 0% 90%, 30% 90%, 45% 70%, 60% 120%, 75% 80%, 95% 70%,
      120% 20%;
    background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
  }
}
