$fuschia: #000000;
$button-bg: $fuschia;
$button-text-color: #fff;
$baby-blue: #f8faff;
.admin {
  width: 100%;
  margin-top: 8%;
  .admin-contents {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    margin: 0 auto;
    margin-top: 1%;
    .admin-container {
      margin-top: 1%;
      ol {
        li {
          width: 40%;
          border-bottom: 1px solid black;
          height: 9.9vh;
          padding-left: 2%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          -webkit-touch-callout: none;
          -webkit-user-select: none;
          -khtml-user-select: none;
          -moz-user-select: none;
          -ms-user-select: none;
          user-select: none;
          text-align: left;
        }
      }
    }
    .new-post {
      background-color: black;
      color: white;
      height: 1%;
      padding: 1%;
      position: absolute;
      top: -30%;
      right: 5%;
      border-radius: 5px;
    }
  }
}
