$fuschia: #000000;
$button-bg: $fuschia;
$button-text-color: #fff;
$baby-blue: #f8faff;
.admin {
  z-index: 99999;
  width: 100%;
  margin-top: 5%;
  .admin-contents {
    position: relative;
    margin-top: 3%;
    .new-post {
      background-color: black;
      color: white;
      height: 1%;
      padding: 1%;
      position: absolute;
      top: -30%;
      left: 1%;
      border-radius: 5px;
    }
  }
}
