$btn-width: 250px !default;
$btn-height: 80px !default;
$btn-full: $btn-height + $btn-width !default;
$btn-half: $btn-full/2 !default;
$bg-color: #eeeeee !default;

@keyframes Zoom {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes names {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.direction {
  width: 100%;
  height: 100vh;
  color: white;
  background-color: #0c0c0c;
  .active {
    position: fixed;
    bottom: 10%;
    right: 3%;
    z-index: 999;
    font-size: 30px;
    background-color: #ffb808;
    border-radius: 50%;
    font-weight: 999;
    opacity: 1;
    transition: 0.3s ease-in;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 3%;
    height: 5%;
    &:hover {
      background-color: #33383b;
    }
    #up {
      padding-top: 10%;
      color: white;
    }
  }
  .button {
    position: fixed;
    bottom: 10%;
    right: 3%;
    z-index: 999;
    font-size: 30px;
    background-color: #ffb808;
    border-radius: 50%;
    font-weight: 999;
    opacity: 1;
    transition: 0.3s ease-in;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 3%;
    height: 5%;
    &:hover {
      background-color: #33383b;
    }
    #up {
      padding-top: 10%;
      color: white;
    }
  }
  .direction-wrapper {
    width: 100%;
    height: 100%;
    .upper-direction {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      .left-direction {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        position: relative;
        height: 100%;
        .inner-dwrap {
          width: 85%;
          -webkit-touch-callout: none;
          -webkit-user-select: none;
          -khtml-user-select: none;
          -moz-user-select: none;
          -ms-user-select: none;
          user-select: none;
          height: 70%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          text-align: center;
          background-color: #222;
          position: absolute;
          left: 15%;
          h1 {
            font-family: BlackHans;
            margin-bottom: 2%;
          }
          h2 {
            font-family: BlackHans;
            width: 90%;
          }
        }
      }
      .map-pointer {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        position: relative;
        iframe {
          width: 80%;
          height: 70%;
        }
        #point {
          position: absolute;
          width: 15%;
          height: 20%;
          -webkit-user-select: none;
          -khtml-user-select: none;
          -moz-user-select: none;
          -o-user-select: none;
          user-select: none;
          top: 65%;
          left: 0%;
          display: none;
        }
        #pointpoint {
          position: absolute;
          width: 20%;
          height: 30%;
          -webkit-user-select: none;
          -khtml-user-select: none;
          -moz-user-select: none;
          -o-user-select: none;
          user-select: none;
          display: none;
          top: 55%;
          right: 20%;
        }
      }
    }
    .section2-wrapper {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: space-between;
      .labels {
        display: flex;
        position: absolute;
        justify-content: center;
        align-items: center;
        width: 90%;
        left: 0;
        right: 0;
        margin: 0 auto;
        #train:checked ~ .btn {
          background: #78c7d2;
        }
        label {
          margin: 0 20%;
          width: 100%;
          padding: 5%;
          border-radius: 15px;
          background-color: white;
          color: black;
        }
        .btn {
          border: none;
          display: block;
          text-align: center;
          cursor: pointer;
          text-transform: uppercase;
          outline: none;
          overflow: hidden;
          position: relative;
          color: #fff;
          font-weight: 700;
          font-size: 15px;
          background-color: #222;
          padding: 17px 60px;
          margin: 0 2%;
          box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
        }
        .btn:nth-child(2)::after {
          background: #d27878;
        }
        .btn:nth-child(3)::after {
          background: #78d28c;
        }
        .btn:nth-child(4)::after {
          background: #d2c578;
        }
        .btn span {
          position: relative;
          z-index: 1;
        }

        .btn:after {
          content: "";
          position: absolute;
          left: 0;
          top: 0;
          height: 490%;
          width: 140%;
          background: #78c7d2;
          -webkit-transition: all 0.5s ease-in-out;
          transition: all 0.5s ease-in-out;
          -webkit-transform: translateX(-98%) translateY(-25%) rotate(45deg);
          transform: translateX(-98%) translateY(-25%) rotate(45deg);
        }

        .btn:hover:after {
          -webkit-transform: translateX(-9%) translateY(-25%) rotate(45deg);
          transform: translateX(-9%) translateY(-25%) rotate(45deg);
        }
      }
      .direction-wrappers {
        width: 100%;
        input {
          opacity: 0;
          height: 0;
          width: 0;
          margin: 0;
          padding: 0;
          position: fixed;
          top: 0;
        }
        .via-bus,
        .via-train,
        .via-jeep,
        .via-walkgrab {
          .dleft {
            img {
              animation: Zoom 0.1s ease-in;
            }
          }
          display: none;
          ul {
            li {
              list-style: disc;
            }
          }
        }

        #train:checked ~ .via-train {
          display: flex;
          align-items: center;
          justify-content: space-around;
          width: 100%;
          height: 100%;
          .dleft {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            img {
              width: 50%;
              transform: scale(1);
            }
          }
          .dright {
            width: 100%;
            line-height: 1.8;
            margin-right: 0;
            text-align: justify;
            p {
              margin: 0 auto;
            }
            h2 {
              font-size: 35px;
              border-bottom: 2px solid white;
              width: 20%;
              font-weight: 900;
              margin-bottom: 1%;
            }
            ul {
              width: 100%;
              li {
                margin-left: 2%;
                font-size: 15px;
              }
            }
          }
        }
        #bus:checked ~ .via-bus {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 100%;
          height: 100%;
          .dleft {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            img {
              width: 70%;
            }
          }
          .dright {
            width: 100%;
            line-height: 1.8;
            margin-right: 0;
            text-align: justify;
            p {
              margin: 0 auto;
            }
            h2 {
              font-size: 35px;
              font-weight: 900;
              border-bottom: 2px solid white;
              width: 17%;
            }
            ul {
              width: 55%;
              li {
                margin-left: 2%;
                text-align: justify;
              }
            }
          }
        }
        #jeep:checked ~ .via-jeep {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 100%;
          height: 100%;
          .dleft {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            img {
              width: 70%;
            }
          }
          .dright {
            width: 100%;
            line-height: 1.8;
            margin-right: 0;
            text-align: justify;
            p {
              margin: 0 auto;
            }
            h2 {
              font-size: 35px;
              font-weight: 900;
              border-bottom: 2px solid white;
              width: 20%;
            }
            ul {
              width: 55%;
              li {
                margin-left: 2%;
                text-align: justify;
              }
            }
          }
        }
        #walk:checked ~ .via-walkgrab {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 100%;
          height: 100%;
          .dleft {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            img {
              width: 70%;
            }
          }
          .dright {
            width: 100%;
            line-height: 1.8;
            margin-right: 0;
            text-align: justify;
            p {
              margin: 0 auto;
            }
            h2 {
              font-size: 35px;
              font-weight: 900;
              border-bottom: 2px solid white;
              width: 30%;
            }
            ul {
              width: 55%;
              li {
                margin-left: 2%;
                text-align: justify;
              }
            }
          }
        }
      }
    }
    .footer-distributed {
      background: rgb(68, 68, 68);
      box-sizing: border-box;
      width: 100%;
      text-align: left;
      font: bold 16px sans-serif;
      overflow-y: hidden;
      padding: 2% 50px;
      img {
        width: 27%;
      }
    }
    .footer-left {
      display: flex;
    }
    .footer-distributed .footer-left,
    .footer-distributed .footer-center,
    .footer-distributed .footer-right {
      display: inline-block;
      vertical-align: top;
    }

    /* Footer left */

    .footer-distributed .footer-left {
      width: 40%;
      display: inline-block;
    }

    /* The company logo */
    .footer-left {
      display: flex;

      img {
        margin: 0 2%;
        width: 27%;
      }
      ul {
        margin-bottom: 5%;
        a {
          padding-right: 1%;
          li {
            font-size: 15px;
            &::before,
            &::after {
              padding-right: 5px;
              padding-left: 5px;
              content: "|";
            }
          }
        }
      }
    }
    /* Footer links */

    .footer-distributed .footer-links {
      color: #ffb808;
      padding: 0;
    }

    .footer-distributed .footer-links a {
      display: inline-block;
      line-height: 1.8;
      font-weight: 400;
      text-decoration: none;
      color: inherit;
    }
    .footer-distributed .footer-links p {
      display: inline-block;
      line-height: 1;
      font-weight: 400;
      text-decoration: none;
      color: inherit;
      cursor: pointer;
    }

    .footer-distributed .footer-company-name {
      color: #ffb808;
      font-size: 14px;
      font-weight: normal;
      margin: 0;
    }

    /* Footer Center */

    .footer-center {
      width: 40%;
      p span {
        display: block;
        font-weight: normal;
        font-size: 15px;
        line-height: 2;
      }
      a {
        color: #ffb808;

        text-decoration: none;
      }
      .desz {
        margin-bottom: 10px;
        font-size: 20px;
      }
    }

    .footer-distributed .footer-center p a {
      color: #ffb808;
      text-decoration: none;
    }

    .footer-distributed .footer-links .link-1:before {
      content: none;
    }

    /* Footer Right */

    .footer-distributed .footer-right {
      width: 20%;
    }

    .footer-distributed .footer-company-about {
      line-height: 20px;
      color: #92999f;
      font-size: 13px;
      font-weight: normal;
      margin: 0;
    }

    .footer-distributed .footer-company-about span {
      display: block;
      color: #ffffff;
      font-size: 14px;
      font-weight: bold;
      margin-bottom: 20px;
    }
    .footer-icons h4 {
      text-align: center;
      font-size: 12px;
      width: 100%;
      text-transform: uppercase;
    }

    .footer-distributed .footer-icons ul {
      display: flex;
      margin-top: 25px;
      justify-content: center;
      align-items: center;
    }

    .footer-distributed .footer-icons li a {
      display: inline-block;
      width: 38px;
      height: 38px;
      cursor: pointer;
      background-color: #ffb808;
      border-radius: 2px;
      font-size: 25px;
      color: #ffffff;
      text-align: center;
      line-height: 1.9;
      margin: 0 10px;
      border-radius: 50%;
    }

    /* If you don't want the footer to be responsive, remove these media queries */

    @media (max-width: 880px) {
      .footer-distributed {
        font: bold 12px sans-serif;
        top: 0;
      }
      .footer-left {
        img {
          margin: 0 2%;
          margin-top: 10%;
          width: 47%;
        }
      }
      .footer-distributed .footer-left,
      .footer-distributed .footer-center,
      .footer-distributed .footer-right {
        display: block;
        width: 100%;
        margin-bottom: 40px;
        text-align: center;
      }

      .footer-distributed .footer-center i {
        margin-left: 0;
      }
    }
  }
}

@media only screen and (max-width: 800px) {
  .direction {
    .active {
      position: fixed;
      bottom: 10%;
      right: 3%;
      z-index: 999;
      font-size: 30px;
      background-color: #ffb808;
      border-radius: 50%;
      font-weight: 999;
      opacity: 1;
      transition: 0.3s ease-in;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 10%;
      height: 6%;
      &:hover {
        background-color: #33383b;
      }
      #up {
        padding-top: 5%;
        color: white;
      }
    }
    .direction-wrapper {
      .upper-direction {
        margin-bottom: 10%;
        display: flex;
        flex-direction: column;
        .left-direction {
          position: static;
          height: 70%;
          padding-top: 25%;
          .inner-dwrap {
            position: static;
            width: 100%;
            height: 100%;
          }
        }
        .map-pointer {
          display: flex;
          align-items: baseline;
          #map-pointing {
            width: 100%;
          }
        }
      }
      .map-pointer {
        #point {
          left: 0;
        }
        #pointpoint {
          right: 0;
        }
      }
      .section2-wrapper {
        height: auto;
        width: 100%;
        display: flex;
        flex-direction: column;
        margin-bottom: 5%;
        .labels {
          left: 0;
          width: 100%;
          .btn {
            padding: 0;
            width: 100%;
            line-height: 3;
            height: 40px;
            font-size: 14px;
            &:after {
              transform: translateX(-200%) translateY(-25%) rotate(45deg);
            }
            span {
              text-align: center;
              width: 100%;
              height: 100px;
            }
          }
          .btn:hover:after {
            -webkit-transform: translateX(-9%) translateY(-25%) rotate(45deg);
            transform: translateX(-15%) translateY(-25%) rotate(45deg);
          }
        }
        .direction-wrappers {
          width: 100%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          #train:checked ~ .via-train {
            display: flex;
            flex-direction: column;
            position: static;
            height: 100%;
            padding-top: 20%;
            width: 85%;
            .dleft {
              display: flex;
              flex-direction: column;
              align-items: center;
              justify-content: center;
              img {
                width: 50%;
              }
            }
            .dright {
              h2 {
                width: 50%;
              }
              ul {
                width: 100%;
                li {
                  width: 100%;
                }
              }
            }
          }
          #bus:checked ~ .via-bus {
            display: flex;
            flex-direction: column;
            position: static;
            height: 100%;
            padding-top: 20%;
            width: 85%;
            .dleft {
              display: flex;
              flex-direction: column;
              align-items: center;
              justify-content: center;
              img {
                width: 50%;
              }
            }
            .dright {
              h2 {
                width: 50%;
              }
              ul {
                width: 100%;
                li {
                  width: 100%;
                }
              }
            }
          }
          #jeep:checked ~ .via-jeep {
            display: flex;
            flex-direction: column;
            position: static;
            height: 100%;
            padding-top: 20%;
            width: 85%;
            .dleft {
              display: flex;
              flex-direction: column;
              align-items: center;
              justify-content: center;
              img {
                width: 50%;
              }
            }
            .dright {
              h2 {
                width: 50%;
              }
              ul {
                width: 100%;
                li {
                  width: 100%;
                }
              }
            }
          }
          #walk:checked ~ .via-walkgrab {
            display: flex;
            flex-direction: column;
            position: static;
            height: 100%;
            padding-top: 20%;
            width: 85%;
            .dleft {
              display: flex;
              flex-direction: column;
              align-items: center;
              justify-content: center;
              img {
                width: 50%;
              }
            }
            .dright {
              h2 {
                width: 70%;
              }
              ul {
                width: 100%;
                li {
                  width: 100%;
                }
              }
            }
          }
        }
      }
    }
  }
}
