

.direction {
  .directions-wrapper {
    background-color: white;
    display: flex;
    .map {
      display: flex;
      width: 50%;
      background-color: white;
      z-index: 0;
      flex-wrap: wrap;
      h2 {
        color: black;
      }
      p {
        color: black;
      }
      img {
        width: 30%;
        height: 50%;
        top: 3px;
        right: 0;
        background-color: white;
      }
    }
  }
}
