.map-wrapper {
  width: 100%;
  height: 100%;
}

.direction {
  width: 100%;
  height: 100%;
  .map {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: black;
    right: 30%;
    top: 50%;
    z-index: 1;
    img {
      width: 45.2%;
      height: 66%;
      position: absolute;
      left: 35%;
      bottom: 14%;
      box-shadow: -4px 10px 21px 0px rgba(0, 0, 0, 0.75);
      -webkit-box-shadow: -4px 10px 21px 0px rgba(0, 0, 0, 0.75);
      -moz-box-shadow: -4px 10px 21px 0px rgba(0, 0, 0, 0.75);
    }
  }
  .description-map {
    position: absolute;
    background-color: #ffb808;
    width: 45%;
    height: 66%;
    top: 20%;
    right: 5%;
    text-align: center;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 1px 1px 11px 1px gray;
    z-index: -1;
  }
}

//   Footer
.footer-distributed-direction {
  background: rgb(68, 68, 68);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: bold 16px sans-serif;
  padding: 2% 50px;
  top: 200%;
  position: absolute;
}
.footer-left {
  display: flex;
}
.footer-distributed-direction .footer-left,
.footer-distributed-direction .footer-center,
.footer-distributed-direction .footer-right {
  display: inline-block;
  vertical-align: top;
}

/* Footer left */

.footer-distributed-direction .footer-left {
  width: 40%;
  display: inline-block;
}

/* The company logo */
.footer-left {
  display: flex;
}
.logso {
  margin: 0;
  width: 27%;
}

/* Footer links */

.footer-distributed-direction .footer-links {
  color: #ffb808;
  padding: 0;
}

.footer-distributed-direction .footer-links a {
  display: inline-block;
  line-height: 1;
  font-weight: 400;
  text-decoration: none;
  color: inherit;
}

.footer-distributed-direction .footer-company-name {
  color: #222;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}

/* Footer Center */

.footer-center {
  width: 40%;
  p span {
    display: block;
    font-weight: normal;
    font-size: 14px;
    line-height: 2;
  }
  a {
    color: #ffb808;
    text-decoration: none;
  }
  .desz {
    margin-bottom: 10px;
  }
}

.footer-distributed-direction .footer-center p a {
  color: #ffb808;
  text-decoration: none;
}

.footer-distributed-direction .footer-links a:before {
  content: "|";
  font-weight: 300;
  font-size: 20px;
  left: 0;
  color: #ffb808;

  display: inline-block;
  padding-right: 5px;
  margin-left: 5px;
}

.footer-distributed-direction .footer-links .link-1:before {
  content: none;
}

/* Footer Right */

.footer-distributed-direction .footer-right {
  width: 20%;
}

.footer-distributed-direction .footer-company-about {
  line-height: 20px;
  color: #92999f;
  font-size: 13px;
  font-weight: normal;
  margin: 0;
}

.footer-distributed-direction .footer-company-about span {
  display: block;
  color: #ffffff;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 20px;
}

.footer-distributed-direction .footer-icons ul {
  display: flex;
  margin-top: 25px;
  justify-content: center;
  align-items: center;
}

.footer-distributed-direction .footer-icons li a {
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  background-color: #33383b;
  border-radius: 2px;
  font-size: 20px;
  color: #ffb808;

  text-align: center;
  line-height: 40px;
  margin: 0 10px;
  border-radius: 50%;
}

/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 880px) {
  .footer-distributed-direction {
    font: bold 14px sans-serif;
    top: 1000px;
  }

  .footer-distributed-direction .footer-left,
  .footer-distributed-direction .footer-center,
  .footer-distributed-direction .footer-right {
    display: block;
    width: 100%;
    margin-bottom: 40px;
    text-align: center;
  }

  .footer-distributed-direction .footer-center i {
    margin-left: 0;
  }
}
.footer-distributed-direction .footer-links a:after {
  content: "|";
  font-weight: 300;
  font-size: 20px;
  left: 0;
  color: #ffb808;
  display: inline-block;
  padding-right: 5px;
  margin-left: 5px;
}

.for-direction {
  height: 100vh;
  position: absolute;
  top: 100%;
  left: 5%;
  .title-direction {
    h1 {
      margin: 3% auto;
      text-align: center;
      font-size: 30px;
    }
  }
}
.box-direction {
  display: flex;
  img {
    margin: 0 15%;
    box-shadow: 1px 5px 11px 2px black;
    border-radius: 15px;
  }
}
.direction-content {
  margin-top: 2%;
  ul {
    li {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin: 1% auto;
    }
  }
  p {
    font-size: 16px;
  }
  h2 {
    display: flex;
    margin: 0 auto 1%;
  }
  h2:after {
    content: '🚌';
  }
  span {
    font-size: 18px;
  }
}
