.edit {
  width: 100%;
  height: 100%;

  .edit-wrapper {
    background-image: url("/src/images/gogoracingbackground/withlogo.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    background-attachment: fixed;
    z-index: 99999;
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    .edit-right {
      width: 70%;
      height: 100%;
      margin-top: 10%;
      display: flex;
      flex-direction: column;
      margin-top: 13%;
      margin-bottom: 5%;
      padding-bottom: 5%;
      background-color: white;
      .edit-web {
        .edit-header {
          display: flex;
          flex-direction: column;
          background-color: rgb(48, 48, 48);
          color: white;
          width: 100%;
          height: 100%;
          border-top: 8px solid black;
          margin-bottom: 5%;
          #becku {
            display: flex;
            flex-direction: column;
            align-items: center;
            position: absolute;
            top: 10%;
            left: 10%;
            padding: 0.3% 0.5%;
            border-radius: 50%;
            font-size: 200%;
            background-color: white;
          }
        }
        .edit-top {
          display: flex;
          justify-content: space-between;
          height: 5vh;
          align-items: center;
          .edit-left {
            font-size: 16px;
            display: flex;
            align-items: center;
            margin-left: 1%;
            width: 100%;
            a {
              margin-left: 0;
              font-size: 30px;
              color: white;
              margin-right: 2%;
            }
          }
          .edit-right {
            margin-right: 2%;
            display: flex;
            justify-content: center;
            align-self: center;
            form {
              position: relative;
              display: flex;
              label {
                margin-right: 5px;
              }
            }
            a {
              display: block;
              cursor: pointer;
              padding: 7px 10px;
              border-radius: 3px;
              background-color: #51575a;
              color: white;
              &:hover {
                background-color: azure;
                color: black;
              }
            }
            #selection {
              display: none;
            }
            #text-search {
              position: absolute;
              right: 65%;
              width: 450%;
              height: 100%;
              border-radius: 8px;
              display: none;
              padding-left: 5px;
              background-color: lightblue;
            }

            input[type="checkbox"] {
              opacity: 0;
            }
            #searchs {
              cursor: pointer;
              padding: 7px 10px;
              border-radius: 3px;
              background-color: #51575a;
              &:hover {
                background-color: azure;
                color: black;
              }
            }
            #search:checked ~ #close {
              display: block;
              cursor: pointer;
              padding: 7px 10px;
              border-radius: 3px;
              background-color: #51575a;
              &:hover {
                background-color: azure;
                color: black;
              }
            }
            #search:checked ~ #selection {
              display: block;
              position: absolute;
              outline: none;
              right: 530%;
              width: 100%;
              height: 100%;
              border-radius: 7px;
            }
            #search:checked ~ #submitted {
              display: block;
              cursor: pointer;
              padding: 7px 10px;
              border-radius: 3px;
              background-color: #51575a;
              &:hover {
                background-color: azure;
                color: black;
              }
            }
          }
        }
        .edit-contents {
          width: 100%;
          height: 100%;
          img {
            -webkit-touch-callout: none;
            -webkit-user-select: none;
            -khtml-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
          }
          .form-group {
            display: flex;
            flex-direction: column;
            height: 100%;
            width: 100%;
            label {
              width: 5%;
            }
            #title-input {
              border: 1px solid rgb(156, 156, 156);
              margin: 0.5% 0;
              width: 50%;
            }
            #description-input {
              border: 1px solid rgb(156, 156, 156);
              width: 50%;
              margin: 0.5% 0;
            }
            .rdw-editor-main {
              width: 100%;
              border: 1px solid #ccc;
              height: 100%;
              padding-bottom: 15%;
              cursor: text;
            }
            .editor-class {
              background-color: lightgray;
              border: 1px solid #ccc;
            }
            .toolbar-class {
              border: 1px solid #ccc;
            }

            .btn__theme {
              cursor: pointer;
              padding: 1% 2%;
              width: 10%;
              margin: 1% auto;
              &:active {
                background-color: #898d8f;
              }
            }
          }
        }
      }
    }
  }
}
