.gogoracing-updates {
  width: 100%;
  height: 100%;
  .ggr-updates-contents {
    background-image: url("/src/images/gogoracingbackground/withlogo.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    background-attachment: fixed;
    height: 100%;
    margin-top: 5%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    .ggr-udecontents {
      width: 70%;
      height: 100%;
      background-color: white;
      margin-top: 10%;
      display: flex;
      flex-direction: column;
      margin-top: 13%;
      margin-bottom: 5%;
      padding-bottom: 5%;
      .ggr-header {
        display: flex;
        flex-direction: column;
        background-color: rgb(48, 48, 48);
        color: white;
        width: 100%;
        height: 100%;
        border-top: 8px solid black;
        margin-bottom: 5%;
      }
      .ggr-top {
        display: flex;
        justify-content: space-between;
        height: 5vh;
        align-items: center;
        .ggr-left {
          font-size: 16px;
          display: flex;
          align-items: center;
          margin-left: 1%;
          width: 100%;
          a {
            margin-left: 0;
            font-size: 30px;
            color: white;
            margin-right: 2%;
          }
        }
        .ggr-right {
          margin-right: 2%;
          display: flex;
          justify-content: center;
          align-self: center;
          form {
            position: relative;
            display: flex;
            label {
              margin-right: 5px;
            }
          }

          #text-search {
            position: absolute;
            right: 65%;
            width: 550%;
            height: 100%;
            border-radius: 8px;
            display: none;
            padding-left: 5px;
          }
          input[type="checkbox"] {
            opacity: 0;
          }
          #searchs {
            cursor: pointer;
            padding: 7px 10px;
            border-radius: 3px;
            background-color: #51575a;
            &:hover {
              background-color: azure;
              color: black;
            }
          }
          #submit {
            opacity: 0;
          }
          #submitted {
            display: none;
          }
          #close {
            display: none;
          }
          #search:checked ~ #searchs {
            display: none;
          }
          #search:checked ~ #text-search {
            display: block;
          }
          #search:checked ~ #close {
            display: block;
            cursor: pointer;
            padding: 7px 10px;
            border-radius: 3px;
            background-color: #51575a;
            &:hover {
              background-color: azure;
              color: black;
            }
          }
          #search:checked ~ #submitted {
            display: block;
            cursor: pointer;
            padding: 7px 10px;
            border-radius: 3px;
            background-color: #51575a;
            &:hover {
              background-color: azure;
              color: black;
            }
          }
        }
      }
      img {
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }
      .ggr-update-contents {
        width: 50%;
        h1 {
          background-color: #116682;
          height: 5vh;
          color: white;
          display: flex;
          flex-direction: column;
          justify-content: center;
          margin-left: 2%;
          margin-bottom: 3%;
        }
        h2 {
          margin-bottom: 2%;
        }
        h2 {
          margin-left: 2%;
        }
        ul {
          margin-left: 2%;
          li {
            margin-bottom: 3%;
            &::before {
              content: "⚡ ";
            }
            ul {
              li {
                margin-top: 2%;
                &::before {
                  content: "➟ ";
                }
              }
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 500px) {
  .gogoracing-updates {
    width: 100%;
    height: 100%;
    .ggr-updates-contents {
      background-image: url("/src/images/gogoracingbackground/ggrmb.png");
      background-repeat: no-repeat;
      background-size: 100% 100%;
      background-position: center;
      .ggr-udecontents {
        margin-top: 70%;
        width: 100%;
        .ggr-header {
          .ggr-top {
            .ggr-right {
              #text-search {
                width: 330%;
                right: 120%;
              }
            }
          }
        }
        .ggr-update-contents {
          width: 90%;
          h1 {
            font-size: 20px;
          }
        }
      }
    }
  }
}
