.gogoracingnewsletter {
  background: rgb(1, 0, 11);
  background: linear-gradient(
    96deg,
    rgba(1, 0, 11, 1) 0%,
    rgba(5, 5, 40, 1) 11%,
    rgba(2, 82, 176, 1) 100%
  );
  overflow: auto;
  overflow: -moz-scrollbars-none;
  -ms-overflow-style: none;
  width: 100%;
  height: 100vh;
  background-attachment: fixed;
  &::-webkit-scrollbar {
    width: 0 !important;
  }
  .gogo-racing-newsletter-wrapper {
    position: relative;
    height: 100%;
    width: 100%;
    .ggr-blah {
      height: 100%;
      position: relative;
      width: 100%;
      display: flex;
      justify-content: center;
      margin-top: 5%;
      #characters {
        position: absolute;
        width: 30%;
        height: 20%;
        z-index: 1;
        top: 6%;
      }
      h1 {
        display: none;
      }
      #edit-posts,
      #delete-posts {
        display: none;
      }
      .gr-nletter {
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        .ggrnewsletterwrap-contents {
          height: 40%;
          margin-top: 10%;
          width: 70%;
          .ggr-top {
            display: flex;
            background-color: rgb(48, 48, 48);
            align-items: center;
            height: 10%;
            color: white;
            border-top: 8px solid black;
            .ggr-left {
              font-size: 16px;
              display: flex;
              align-items: center;
              margin-left: 1%;
              width: 100%;
              a {
                margin-left: 0;
                font-size: 30px;
                color: white;
                margin-right: 2%;
              }
            }
            .ggr-right {
              margin-right: 2%;
              display: flex;
              justify-content: center;
              align-self: center;
              form {
                position: relative;
                display: flex;
                label {
                  margin-right: 5px;
                }
              }
              a {
                display: block;
                cursor: pointer;
                padding: 7px 10px;
                border-radius: 3px;
                background-color: #51575a;
                color: white;
                &:hover {
                  background-color: azure;
                  color: black;
                }
              }
              #submit {
                transform: translate(0, -9000%);
              }
              #selection {
                display: none;
              }
              #text-search {
                position: absolute;
                right: 65%;
                width: 450%;
                height: 100%;
                border-radius: 8px;
                display: none;
                padding-left: 5px;
              }
              input[type="checkbox"] {
                opacity: 0;
              }
              #searchs {
                cursor: pointer;
                padding: 7px 10px;
                border-radius: 3px;
                background-color: #51575a;
                &:hover {
                  background-color: azure;
                  color: black;
                }
              }
              #submit {
                transform: translate(0, -9000%);
              }
              #submitted {
                display: none;
              }
              #close {
                display: none;
              }
              #search:checked ~ #searchs {
                display: none;
              }
              #search:checked ~ #text-search {
                display: block;
              }
              #search:checked ~ #close {
                display: block;
                cursor: pointer;
                padding: 7px 10px;
                border-radius: 3px;
                background-color: #51575a;
                &:hover {
                  background-color: azure;
                  color: black;
                }
              }
              #search:checked ~ #selection {
                display: block;
                position: absolute;
                outline: none;
                right: 530%;
                width: 100%;
                height: 100%;
                border-radius: 7px;
              }
              #search:checked ~ #submitted {
                display: block;
                cursor: pointer;
                padding: 7px 10px;
                border-radius: 3px;
                background-color: #51575a;
                &:hover {
                  background-color: azure;
                  color: black;
                }
              }
            }
          }
        }
        .ggrnwsz-contents {
          background-color: white;
          height: 100%;
          width: 100%;
          .announcement-header {
            display: none;
          }
          .announcement-links {
            h1 {
              display: none;
            }
          }
          .announcement {
            background-image: none;
            background-color: white;
            .announcements-contents {
              width: 100%;
            }
          }
          #delete-announcements,
          #edit-announcements {
            display: none;
          }

          #new-post {
            display: none;
          }
          ol {
            margin-top: 0;
            width: 100%;
            li {
              border-bottom: 1px solid rgb(230, 230, 230);
              height: 9.9vh;
              padding-left: 2%;
              display: flex;
              flex-direction: column;
              justify-content: center;
              -webkit-touch-callout: none;
              -webkit-user-select: none;
              -khtml-user-select: none;
              -moz-user-select: none;
              -ms-user-select: none;
              user-select: none;
              text-align: left;
              h3 {
                margin-bottom: 8px;
              }
              span {
                margin-left: 3%;
              }
            }
          }
        }
      }
    }
  }
}
@media only screen and (max-width: 600px) {
  .gogoracingnewsletter {
    background: rgb(1, 0, 11);
    background: linear-gradient(
      96deg,
      rgba(1, 0, 11, 1) 0%,
      rgba(5, 5, 40, 1) 11%,
      rgba(2, 82, 176, 1) 100%
    );
    overflow: hidden;
    height: 100vh;
    .gogo-racing-newsletter-wrapper {
      .ggr-blah {
        margin-top: 25%;
        display: flex;
        flex-direction: column;
        align-items: center;
        img {
          display: none;
        }
        h1 {
          display: flex;
          flex-direction: column;
          text-shadow: 0px 0px 5px 17px rgba(148, 178, 245, 1);
          font-family: "BlackHans";
          align-items: center;
          justify-content: center;
          color: white;
        }
        .gr-nletter {
          .ggrnewsletterwrap-contents {
            width: 100%;
            height: 100%;
            .ggr-top {
              .ggr-right {
                #search:checked ~ #selection {
                  right: 175%;
                  width: 50%;
                }
                #text-search {
                  right: 60%;
                  width: 100%;
                }
              }
            }
            .ggrnwsz-contents {
              background-color: white;
              width: 100%;
              height: auto;
            }
          }
        }
      }
    }
  }
}
