.gogochain {
    .wrapper {
      height: 100vh;
      width: 100%;
      display: flex;
      align-items: center;
      h1 {
        color: white;
        font-size: 90px;
        background: linear-gradient(
          to right,
          rgb(255, 230, 0) 0%,
          rgba(255, 196, 0, 0.699) 75%,
          rgba(0, 0, 0, 0) 100%
        );
        width: 50%;
        height: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        z-index: 2;
        left: 5%;
        box-shadow: -29px 11px 65px -20px rgba(0, 0, 0, 0.75);
        -webkit-box-shadow: -29px 11px 65px -20px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: -29px 11px 65px -20px rgba(0, 0, 0, 0.75);
      }
      img {
        width: 80%;
        height: 70%;
        position: absolute;
        right: 5%;
        box-shadow: 22px 28px 65px -20px rgba(0, 0, 0, 0.75);
        -webkit-box-shadow: 22px 28px 65px -20px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 22px 28px 65px -20px rgba(0, 0, 0, 0.75);
      }
    }
  }
  