.gogoracingnews {
  margin-top: 2.8%;
  height: 100%;
  .gogo-racing-news-wrapper {
    background-image: url("/src/images/gogoracingbackground/withlogo.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1;
    .ggrnews-contents {
      margin-top: 2%;
      width: 60%;
      height: 40%;
      .ggr-top {
        display: flex;
        justify-content: space-between;
        background-color: rgb(48, 48, 48);
        color: white;
        align-items: center;
        height: 10%;
        border-top: 8px solid black;
        .ggr-left {
          margin-left: 3%;
          font-size: 16px;
        }
        .ggr-right {
          margin-right: 2%;
          button {
            cursor: pointer;
            padding: 10px 10px;
            border-radius: 3px;
            &:hover {
              background-color: azure;
            }
          }
        }
      }
      .ggrnws-contents {
        background-color: white;
        height: 100%;
        ul {
          list-style: none;
          margin: 0;
          li {
            border-bottom: 1px solid gray;
            height: 9.9vh;
            padding-left: 2%;
            display: flex;
            align-items: center;
            justify-content: left;
            -webkit-touch-callout: none; 
            -webkit-user-select: none; 
             -khtml-user-select: none; 
               -moz-user-select: none; 
                -ms-user-select: none; 
                    user-select: none;
            cursor: pointer;
            .li-left {
              width: 5%;
              margin: 0;
              margin-right: 2%;
              img {
                width: 90%;
              }
            }
            .li-right {
              display: flex;
              flex-direction: column;
              justify-content: space-around;
              height: 50%;
            }
            h3 {
              font-weight: 100;
            }
            span {
              font-size: 13px;
              margin-top: 1%;
              color: gray;
            }
            &:hover {
              background-color: rgb(211, 211, 211);
            }
          }
        }
      }
    }
  }
}
