@font-face {
  font-family: "EntezareZohoor2";
  src: url("/src/DistorterDemoRegular.ttf"),
    url("/src/DistorterDemoRegular.ttf") format("truetype"),
    url("/src/DistorterDemoRegular.ttf") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Outrider";
  src: url("/src/outrider.ttf"), url("/src/outrider.ttf") format("truetype"),
    url("/src/outrider.ttf") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Knicknack";
  src: url("/src/Knicknack-Bold.ttf"),
    url("/src/Knicknack-Bold.ttf") format("truetype"),
    url("/src/Knicknack-Bold.ttf") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "BlackHans";
  src: url("/src/Black\ Han\ Sans.ttf"),
    url("/src/Black\ Han\ Sans.ttf") format("truetype"),
    url("/src/Black\ Han\ Sans.ttf") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Alba";
  src: url("/src/alba.TTF"), url("/src/alba.TTF") format("truetype"),
    url("/src/alba.TTF") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "avengance";
  src: url("/src/avengance.TTF"), url("/src/avengance.TTF") format("truetype"),
    url("/src/avengance.TTF") format("svg");
  font-weight: normal;
  font-style: normal;
}
@keyframes names {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 0.1;
  }
}
.gogoracing {
  .bootons {
    position: fixed;
    bottom: 10%;
    right: 3%;
    z-index: 999;
    font-size: 30px;
    background-color: #ffb808;
    border-radius: 50%;
    font-weight: 999;
    line-height: 2;
    &:hover {
      background-color: #33383b;
    }
    #up {
      color: white;
      padding: 20px 15px;
      width: 100%;
      height: 100%;
    }
  }
  .gogoracing-wrapper {
    width: 100%;
    height: 100vh;
    background-image: url("/src/images/partyggr.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    position: relative;
    filter: brightness(85%);
    .ggrwelcome {
      width: 70%;
      height: 25%;
      background-color: #c564d8af;
      backdrop-filter: blur(2px);
      border-radius: 30px;
      display: flex;
      align-items: center;
      position: absolute;
      top: 55%;
      left: 15%;
      #ggrlogo {
        width: 60%;
        height: 30%;
        margin-left: 5%;
      }
      span {
        margin-right: 5%;
        width: 80%;
        p {
          color: white;
          text-align: justify;
          font-size: 16px;
          text-align: center;
          margin-left: 5%;
          font-family: "BlackHans";
          text-shadow: rgb(7, 1, 65) 5px 5px 7px;
        }
      }
      .links {
        display: flex;
        margin-left: 12%;
        position: relative;
        margin: 0 auto;
        width: 100%;
        height: 40%;
        button {
          background-color: transparent;
          position: absolute;
          cursor: pointer;
          left: 23%;
          img {
            padding: 0;
            box-shadow: 4px 4px 11px 4px black;
            border-radius: 20px;
          }
          &:hover {
            filter: grayscale(50%);
          }
        }
      }
      .socials {
        width: 55%;
        max-width: 55%;
        min-width: 50%;
        padding: 2% 0;
        border-radius: 10px;
        margin: 10%;
        background-color: rgba(0, 0, 0, 0.508);
      }
      ul {
        display: flex;
        align-items: center;
        justify-content: space-around;
        li {
          a {
            font-size: 35px;
            color: white;
          }
        }
      }
    }
    .market-ggr {
      height: 25%;
      width: 45%;
      position: absolute;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      right: 26%;
      top: 20%;
      p {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        img {
          cursor: pointer;
          width: 50%;
        }
      }
    }
  }
  .gamedescription {
    width: 100%;
    height: 100vh;
    background-image: url("/src/images/gogoracingbackground/GGR_BG.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .gogodescription {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 40%;
      height: 40%;
      background-color: rgba(0, 0, 0, 0.686);
      border-radius: 20px;
      color: white;
      backdrop-filter: blur(10px);
      margin-left: 5%;
      border: 6px solid white;
      h2 {
        margin-top: 10%;
        font-size: 37px;
      }
      span {
        width: 90%;
        p {
          text-align: justify;
          font-size: 16px;
        }
      }
      #somedog {
        position: absolute;
        left: 85%;
        top: 40%;
        width: 50%;
        height: 80%;
      }
    }
  }
}
.nft-des {
  width: 100%;
  height: 100vh;
  background-image: url("/src/images/gogoracingbackground/web_bg_5.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  position: relative;
  .desc-nft {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 40%;
    top: 40%;
    left: 5%;
    position: absolute;
    color: white;
    background-color: rgba(0, 0, 0, 0.816);
    border-radius: 20px;
    border: 5px solid white;
    h2 {
      font-size: 300%;
      margin-left: 5%;
    }
    span {
      width: 90%;
      margin-left: 5%;

      p {
        text-align: justify;
        width: 90%;
        font-size: 100%;
      }
    }
  }
  #nftshop {
    position: absolute;
    right: 6%;
    width: 40%;
    top: 10%;
  }
  #char1 {
    position: absolute;
    left: 15%;
    top: 8%;
    width: 30%;
    transform: rotate(5deg);
  }
  #char2 {
    position: absolute;
    width: 25%;
    top: 45%;
    width: 30%;
    right: 5%;
  }
}
.features-select {
  width: 100%;
  height: 115vh;
  background-image: url(/src/images/gogoracingbackground/web_bg_3.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  .mobile-selection {
    display: none;
  }
  #titled {
    font-family: "Outrider";
    color: #88f1d7;
    font-size: 80px;
    padding-top: 3%;
    text-shadow: 0px 7px 1px#000000;
    text-transform: uppercase;
    text-align: center;
    height: 15%;
  }
  .disclaimer {
    color: white;
    text-align: center;
    text-transform: uppercase;
  }
  .select-wrapper {
    height: 100%;
    width: 100%;
    position: relative;
    margin: 0 auto;
    input {
      opacity: 0;
      height: 0;
      width: 0;
      margin: 0;
      padding: 0;
      position: fixed;
      top: 0;
    }

    #floor {
      position: absolute;
      width: 35%;
      height: 20%;
      top: 48%;
      left: 39%;
    }
    .cars-selection,
    .character-selection,
    .tire-selection {
      display: none;
    }
    .labels {
      display: flex;
      flex-direction: column;
      width: 15%;
      height: 5%;
      position: absolute;
      right: 5%;
      top: 10%;
      #lblcars,
      #lblchars {
        border: 5px solid white;
        margin: 5% 0;
        text-transform: uppercase;
        text-align: center;
        color: white;
        border-radius: 15px;
        width: 100%;
        -webkit-text-stroke-width: 2px;
        -webkit-text-stroke-color: black;
        font-size: 26px;
        padding: 7px;
        font-family: "avengance";
      }
    }

    #select-1:checked ~ .cars-selection {
      width: 30%;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-gap: 6%;
      position: absolute;
      top: 2%;
      left: 2%;
      #tlt1 {
        left: 39%;
      }
      #tlt2 {
        top: 33%;
        left: 39%;
      }
      #tlt3 {
        top: 76%;
        left: 39%;
      }
      label {
        padding: 1px;
        width: 90%;
        img {
          width: 140%;
        }
      }
      #shwcar1,
      #shwcar2,
      #shwcar3,
      #shwcar4,
      #shwcar5,
      #shwcar6,
      #shwcar7,
      #shwcar8,
      #shwcar9,
      #shwcar10,
      #shwcar11,
      #shwcar12 {
        display: none;
      }
      #ncar1,
      #ncar2,
      #ncar3,
      #ncar4,
      #ncar5,
      #ncar6,
      #ncar7,
      #ncar8,
      #ncar9,
      #ncar10,
      #ncar11 {
        display: none;
      }
      #slt1:checked ~ #ncar1 {
        display: block;
        position: absolute;
        top: 90%;
        left: 130%;
      }
      #slt2:checked ~ #ncar2 {
        display: block;
        position: absolute;
        top: 90%;
        left: 150%;
      }
      #slt3:checked ~ #ncar3 {
        display: block;
        position: absolute;
        top: 90%;
        left: 135%;
      }
      #slt4:checked ~ #ncar4 {
        display: block;
        position: absolute;
        top: 90%;
        left: 165%;
      }
      #slt5:checked ~ #ncar5 {
        display: block;
        position: absolute;
        top: 90%;
        left: 150%;
      }
      #slt6:checked ~ #ncar6 {
        display: block;
        position: absolute;
        top: 90%;
        left: 130%;
      }
      #slt7:checked ~ #ncar7 {
        display: block;
        position: absolute;
        top: 90%;
        left: 130%;
      }
      #slt8:checked ~ #ncar8 {
        display: block;
        position: absolute;
        top: 90%;
        left: 140%;
      }
      #slt9:checked ~ #ncar9 {
        display: block;
        position: absolute;
        top: 90%;
        left: 145%;
      }
      #slt10:checked ~ #ncar10 {
        display: block;
        position: absolute;
        top: 90%;
        left: 135%;
      }
      #slt11:checked ~ #ncar11 {
        display: block;
        position: absolute;
        top: 90%;
        left: 120%;
      }
      #cfade1,
      #cfade2,
      #cfade3,
      #cfade4,
      #cfade5,
      #cfade6,
      #cfade7,
      #cfade8,
      #cfade9,
      #cfade10,
      #cfade11 {
        display: none;
      }
      #lblcar1,
      #lblcar2,
      #lblcar3,
      #lblcar4,
      #lblcar5,
      #lblcar6,
      #lblcar7,
      #lblcar8,
      #lblcar9,
      #lblcar10,
      #lblcar11 {
        filter: brightness(70%);
      }
      #lblcar1:hover {
        filter: brightness(100%);
      }
      #lblcar2:hover {
        filter: brightness(100%);
      }
      #lblcar3:hover {
        filter: brightness(100%);
      }
      #lblcar4:hover {
        filter: brightness(100%);
      }
      #lblcar5:hover {
        filter: brightness(100%);
      }
      #lblcar6:hover {
        filter: brightness(100%);
      }
      #lblcar7:hover {
        filter: brightness(100%);
      }
      #lblcar8:hover {
        filter: brightness(100%);
      }
      #lblcar9:hover {
        filter: brightness(100%);
      }
      #lblcar10:hover {
        filter: brightness(100%);
      }
      #slt1:checked ~ #cfade2 {
        display: block;
        position: absolute;
        left: 90%;
        top: 35%;
        width: 150%;
        opacity: 0.1;
      }
      #slt2:checked ~ #cfade3 {
        display: block;
        position: absolute;
        left: 110%;
        top: 30%;
        width: 150%;
        opacity: 0.1;
      }
      #slt3:checked ~ #cfade4 {
        display: block;
        position: absolute;
        left: 95%;
        top: 30%;
        width: 150%;
        opacity: 0.1;
      }
      #slt4:checked ~ #cfade1 {
        display: block;
        position: absolute;
        left: 105%;
        top: 10%;
        width: 150%;
        opacity: 0.1;
      }
      #slt5:checked ~ #cfade5 {
        display: block;
        position: absolute;
        left: 105%;
        top: 35%;
        width: 150%;
        opacity: 0.1;
      }
      #slt6:checked ~ #cfade6 {
        display: block;
        position: absolute;
        left: 105%;
        top: 30%;
        width: 150%;
        opacity: 0.1;
      }
      #slt7:checked ~ #cfade8 {
        display: block;
        position: absolute;
        left: 105%;
        top: 30%;
        width: 150%;
        opacity: 0.1;
      }
      #slt8:checked ~ #cfade9 {
        display: block;
        position: absolute;
        left: 115%;
        top: 30%;
        width: 150%;
        opacity: 0.1;
      }
      #slt9:checked ~ #cfade10 {
        display: block;
        position: absolute;
        left: 115%;
        top: 35%;
        width: 150%;
        opacity: 0.1;
      }
      #slt10:checked ~ #cfade7 {
        display: block;
        position: absolute;
        left: 115%;
        top: 30%;
        width: 155%;
        opacity: 0.1;
      }
      #slt11:checked ~ #cfade11 {
        display: block;
        position: absolute;
        left: 115%;
        top: 40%;
        width: 150%;
        opacity: 0.1;
      }
      #slt1:checked ~ #lblcar1 {
        filter: brightness(100%);
      }
      #slt2:checked ~ #lblcar2 {
        filter: brightness(100%);
      }
      #slt3:checked ~ #lblcar3 {
        filter: brightness(100%);
      }
      #slt4:checked ~ #lblcar4 {
        filter: brightness(100%);
      }
      #slt5:checked ~ #lblcar5 {
        filter: brightness(100%);
      }
      #slt6:checked ~ #lblcar6 {
        filter: brightness(100%);
      }
      #slt7:checked ~ #lblcar7 {
        filter: brightness(100%);
      }
      #slt8:checked ~ #lblcar8 {
        filter: brightness(100%);
      }
      #slt9:checked ~ #lblcar9 {
        filter: brightness(100%);
      }
      #slt10:checked ~ #lblcar10 {
        filter: brightness(100%);
      }
      #slt11:checked ~ #lblcar11 {
        filter: brightness(100%);
      }
      #slt1:checked ~ #shwcar1 {
        display: block;
        display: block;
        width: 100%;
        position: absolute;
        top: 35%;
        left: 160%;
      }
      #slt2:checked ~ #shwcar2 {
        display: block;
        width: 100%;
        position: absolute;
        top: 35%;
        left: 160%;
      }
      #slt3:checked ~ #shwcar3 {
        display: block;
        width: 100%;
        position: absolute;
        top: 35%;
        left: 160%;
      }
      #slt4:checked ~ #shwcar4 {
        display: block;
        width: 100%;
        position: absolute;
        top: 20%;
        left: 160%;
      }
      #slt5:checked ~ #shwcar5 {
        display: block;
        width: 100%;
        position: absolute;
        top: 35%;
        left: 160%;
      }
      #slt6:checked ~ #shwcar6 {
        display: block;
        width: 100%;
        position: absolute;
        top: 35%;
        left: 160%;
      }
      #slt7:checked ~ #shwcar7 {
        display: block;
        width: 100%;
        position: absolute;
        top: 35%;
        left: 160%;
      }
      #slt8:checked ~ #shwcar8 {
        display: block;
        width: 100%;
        position: absolute;
        top: 35%;
        left: 160%;
      }
      #slt9:checked ~ #shwcar9 {
        display: block;
        width: 120%;
        position: absolute;
        top: 35%;
        left: 140%;
      }
      #slt10:checked ~ #shwcar10 {
        display: block;
        width: 90%;
        position: absolute;
        top: 35%;
        left: 165%;
      }
      #slt11:checked ~ #shwcar11 {
        display: block;
        width: 100%;
        position: absolute;
        top: 40%;
        left: 160%;
      }
    }

    #select-2:checked ~ .character-selection {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-gap: 5%;
      width: 25%;
      position: absolute;
      top: 2%;
      left: 3%;
      label {
        width: 100%;
        img {
          width: 100%;
          height: 100%;
        }
      }
      #name1,
      #name2,
      #name3,
      #name4,
      #name5,
      #name6,
      #name7,
      #name8,
      #name9,
      #name10 {
        display: none;
        animation: names 0.1s ease-in;
      }
      #chrslt1:checked ~ #name1 {
        display: block;
        position: absolute;
        left: 165%;
        top: 85%;
        width: 100%;
      }
      #chrslt2:checked ~ #name2 {
        display: block;
        position: absolute;
        left: 165%;
        top: 85%;
        width: 100%;
      }
      #chrslt3:checked ~ #name3 {
        display: block;
        position: absolute;
        left: 165%;
        top: 85%;
        width: 100%;
      }
      #chrslt4:checked ~ #name4 {
        display: block;
        position: absolute;
        left: 185%;
        top: 85%;
        width: 70%;
      }
      #chrslt5:checked ~ #name5 {
        display: block;
        position: absolute;
        left: 165%;
        top: 85%;
        width: 100%;
      }
      #chrslt6:checked ~ #name6 {
        display: block;
        position: absolute;
        left: 165%;
        top: 85%;
        width: 100%;
      }
      #chrslt7:checked ~ #name7 {
        display: block;
        position: absolute;
        left: 165%;
        top: 85%;
        width: 100%;
      }
      #chrslt8:checked ~ #name8 {
        display: block;
        position: absolute;
        left: 165%;
        top: 85%;
        width: 100%;
      }
      #chrslt9:checked ~ #name9 {
        display: block;
        position: absolute;
        left: 165%;
        top: 85%;
        width: 100%;
      }
      #chrslt10:checked ~ #name10 {
        display: block;
        position: absolute;
        left: 175%;
        top: 85%;
        width: 60%;
      }
      #chshw1,
      #chshw2,
      #chshw3,
      #chshw4,
      #chshw5,
      #chshw6,
      #chshw7,
      #chshw8,
      #chshw9,
      #chshw10,
      #chshw11,
      #chshw12,
      #chshw13,
      #chshw14,
      #chshw15,
      #chshw16,
      #chshw17,
      #chshw18 {
        display: none;
        animation: names 0.1s ease-in;
      }
      #cl1,
      #cl2,
      #cl3,
      #cl4,
      #cl5,
      #cl6,
      #cl7,
      #cl8,
      #cl9,
      #cl10 {
        filter: brightness(60%);
      }
      #cl1:hover {
        filter: brightness(100%);
      }
      #cl2:hover {
        filter: brightness(100%);
      }
      #cl3:hover {
        filter: brightness(100%);
      }
      #cl4:hover {
        filter: brightness(100%);
      }
      #cl5:hover {
        filter: brightness(100%);
      }
      #cl6:hover {
        filter: brightness(100%);
      }
      #cl7:hover {
        filter: brightness(100%);
      }
      #cl8:hover {
        filter: brightness(100%);
      }
      #cl9:hover {
        filter: brightness(100%);
      }
      #cl10:hover {
        filter: brightness(100%);
      }
      #chrslt1:checked ~ #cl1 {
        filter: brightness(100%);
      }
      #chrslt2:checked ~ #cl2 {
        filter: brightness(100%);
      }
      #chrslt3:checked ~ #cl3 {
        filter: brightness(100%);
      }
      #chrslt4:checked ~ #cl4 {
        filter: brightness(100%);
      }
      #chrslt5:checked ~ #cl5 {
        filter: brightness(100%);
      }
      #chrslt6:checked ~ #cl6 {
        filter: brightness(100%);
      }
      #chrslt7:checked ~ #cl7 {
        filter: brightness(100%);
      }
      #chrslt8:checked ~ #cl8 {
        filter: brightness(100%);
      }
      #chrslt9:checked ~ #cl9 {
        filter: brightness(100%);
      }
      #chrslt10:checked ~ #cl10 {
        filter: brightness(100%);
      }
      #chrslt1:checked ~ #chshw1 {
        display: block;
        position: absolute;
        left: 165%;
        top: 19%;
        width: 100%;
        z-index: 99;
      }
      #chrslt2:checked ~ #chshw2 {
        display: block;
        position: absolute;
        left: 185%;
        z-index: 99;
        top: 20%;
        width: 100%;
      }
      #chrslt3:checked ~ #chshw3 {
        display: block;
        position: absolute;
        z-index: 99;
        left: 200%;
        top: 20%;
        width: 100%;
      }
      #chrslt4:checked ~ #chshw4 {
        display: block;
        position: absolute;
        left: 195%;
        z-index: 99;
        top: 20%;
        width: 100%;
      }
      #chrslt5:checked ~ #chshw5 {
        display: block;
        position: absolute;
        left: 205%;
        z-index: 99;
        top: 23%;
        width: 100%;
      }
      #chrslt6:checked ~ #chshw6 {
        display: block;
        z-index: 99;
        position: absolute;
        left: 195%;
        top: 22.5%;
        width: 100%;
      }
      #chrslt7:checked ~ #chshw7 {
        display: block;
        position: absolute;
        z-index: 99;
        left: 135%;
        top: 23%;
        width: 100%;
      }
      #chrslt8:checked ~ #chshw8 {
        display: block;
        position: absolute;
        left: 195%;
        z-index: 99;
        top: 20%;
        width: 100%;
      }
      #chrslt9:checked ~ #chshw9 {
        display: block;
        position: absolute;
        z-index: 99;
        left: 125%;
        top: 22%;
        width: 100%;
      }
      #chrslt1:checked ~ #fade1 {
        display: block;
        position: absolute;
        left: 130%;
        top: 0%;
        width: 150%;
        opacity: 0.1;
      }
      #chrslt2:checked ~ #fade2 {
        display: block;
        position: absolute;
        left: 108%;
        top: 4%;
        width: 150%;
        opacity: 0.1;
      }
      #chrslt3:checked ~ #fade3 {
        display: block;
        position: absolute;
        left: 110%;
        top: 6%;
        width: 150%;
        opacity: 0.1;
      }
      #chrslt4:checked ~ #fade4 {
        display: block;
        position: absolute;
        left: 125%;
        top: 0%;
        width: 130%;
        opacity: 0.1;
      }
      #chrslt5:checked ~ #fade5 {
        display: block;
        position: absolute;
        left: 130%;
        top: 0%;
        width: 120%;
        opacity: 0.1;
      }
      #chrslt6:checked ~ #fade6 {
        display: block;
        position: absolute;
        left: 110%;
        top: 0%;
        width: 150%;
        opacity: 0.1;
      }
      #chrslt7:checked ~ #fade7 {
        display: block;
        position: absolute;
        left: 155%;
        top: 2%;
        width: 130%;
        opacity: 0.1;
      }
      #chrslt8:checked ~ #fade8 {
        display: block;
        position: absolute;
        left: 115%;
        top: 0%;
        width: 130%;
        opacity: 0.1;
      }
      #chrslt9:checked ~ #fade9 {
        display: block;
        position: absolute;
        left: 146%;
        top: 0%;
        width: 150%;
        opacity: 0.1;
      }
      #chrslt10:checked ~ #fade10 {
        display: block;
        position: absolute;
        left: 128%;
        top: 5%;
        width: 130%;
        opacity: 0.1;
      }
      #fade1,
      #fade2,
      #fade3,
      #fade4,
      #fade5,
      #fade6,
      #fade7,
      #fade8,
      #fade9,
      #fade10 {
        animation: fade 0.2s ease-in;
        display: none;
      }
      #chrslt10:checked ~ #chshw10 {
        display: block;
        position: absolute;
        left: 195%;
        top: 39%;
        z-index: 99;
        width: 70%;
      }
    }
    #select-3:checked ~ .tire-selection {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      width: 25%;
      grid-gap: 5%;
      position: absolute;
      top: 2%;
      left: 3%;
      label {
        img {
          border: 2px solid white;
          width: 100%;
        }
      }
      #trshw1,
      #trshw2,
      #trshw3,
      #trshw4,
      #trshw5,
      #trshw6,
      #trshw7,
      #trshw8,
      #trshw9,
      #trshw10,
      #trshw11,
      #trshw12 {
        display: none;
      }
      #trch1:checked ~ #trshw1 {
        display: block;
        position: absolute;
        left: 180%;
        width: 70%;
        top: 50%;
      }
      #trch2:checked ~ #trshw2 {
        display: block;
        position: absolute;
        left: 180%;
        width: 70%;
        top: 50%;
      }
      #trch3:checked ~ #trshw3 {
        display: block;
        position: absolute;
        left: 180%;
        width: 70%;
        top: 50%;
      }
      #trch4:checked ~ #trshw4 {
        display: block;
        position: absolute;
        left: 180%;
        width: 70%;
        top: 50%;
      }
      #trch5:checked ~ #trshw5 {
        display: block;
        position: absolute;
        left: 180%;
        width: 70%;
        top: 50%;
      }
      #trch6:checked ~ #trshw6 {
        display: block;
        position: absolute;
        left: 180%;
        width: 70%;
        top: 50%;
      }
      #trch7:checked ~ #trshw7 {
        display: block;
        position: absolute;
        left: 180%;
        width: 70%;
        top: 50%;
      }
      #trch8:checked ~ #trshw8 {
        display: block;
        position: absolute;
        left: 180%;
        width: 70%;
        top: 50%;
      }
      #trch9:checked ~ #trshw9 {
        display: block;
        position: absolute;
        left: 180%;
        width: 70%;
        top: 50%;
      }
      #trch10:checked ~ #trshw10 {
        display: block;
        position: absolute;
        left: 180%;
        width: 70%;
        top: 50%;
      }
      #trch11:checked ~ #trshw11 {
        display: block;
        position: absolute;
        left: 180%;
        width: 70%;
        top: 50%;
      }
      #trch12:checked ~ #trshw12 {
        display: block;
        position: absolute;
        left: 180%;
        width: 70%;
        top: 50%;
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  .gogoracing {
    width: 100%;
    overflow: hidden;
    .gogoracing-wrapper {
      height: 105vh;
      margin-top: 2%;
      display: flex;
      align-items: center;
      justify-content: center;
      background-image: url("/src/images/gogoracingbackground/partyggr.png");
      background-position: center;
      background-repeat: no-repeat;
      background-size: 100% 100%;
      .ggrwelcome {
        width: 90%;
        height: 50%;
        margin-top: 20%;
        position: static;
        background-color: #2c409ab4;
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        #ggrlogo {
          width: 65%;
          margin-left: 0;
          height: 20%;
          margin-bottom: 23%;
        }
        .links {
          margin-left: 0;
          margin-right: 20%;
          img {
            width: 70%;
            margin-left: 0;
          }
        }
      }
      .market-ggr {
        width: 100%;
        left: 0%;
        top: 6%;
      }
    }
    .gamedescription {
      background-image: url("/src/images/gogoracingbackground/GGR_BGM.png");
      .gogodescription {
        width: 90%;
        height: 58%;
        #somedog {
          width: 5%;
          display: none;
        }
      }
    }
    .nft-des {
      z-index: 1;
      background-image: url("/src/images/gogoracingbackground/1.png");
      h2 {
        margin-top: 5%;
        font-size: 250%;
      }
      #char1 {
        width: 50%;
        display: none;
      }
      #char2 {
        width: 50%;
        top: 15%;
        right: 0;
        z-index: 1;
        transform: scaleX(-1);
      }
      .desc-nft {
        top: 25%;
        height: 60%;
        width: 90%;
      }
    }
    #nftshop {
      width: 100%;
      left: 0;
      top: 5%;
      z-index: -1;
    }
    .features-select {
      background-image: url("/src/images/gogoracingbackground/2.png");
      height: 110vh;
      #titled {
        font-size: 40px;
        padding-top: 10%;
      }
      .disclaimer {
        font-size: 17px;
      }
      .labels {
        flex-direction: row;
        top: 2%;
        width: 50%;
        height: 5%;
        right: 0;
        left: 15%;
        #lblcars,
        #lblchars {
          border: 5px solid white;
          margin: 0 5%;
        }
      }
      #select-1:checked ~ .cars-selection {
        width: 90%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-gap: 6%;
        position: absolute;
        top: 50%;
        left: 2%;
        label {
          padding: 1px;
          width: 100%;
          img {
            width: 140%;
          }
        }
        #slt1:checked ~ #ncar1 {
          display: block;
          position: absolute;
          top: -70%;
          left: 10%;
          width: 80%;
        }
        #slt2:checked ~ #ncar2 {
          display: block;
          position: absolute;
          top: -70%;
          left: 30%;
          width: 40%;
        }
        #slt3:checked ~ #ncar3 {
          display: block;
          position: absolute;
          top: -70%;
          left: 10%;
          width: 80%;
        }
        #slt4:checked ~ #ncar4 {
          display: block;
          position: absolute;
          top: -70%;
          left: 30%;
          width: 40%;
        }
        #slt5:checked ~ #ncar5 {
          display: block;
          position: absolute;
          top: -70%;
          left: 10%;
          width: 80%;
        }
        #slt6:checked ~ #ncar6 {
          display: block;
          position: absolute;
          top: -70%;
          left: 10%;
          width: 80%;
        }
        #slt7:checked ~ #ncar7 {
          display: block;
          position: absolute;
          top: -70%;
          left: 10%;
          width: 80%;
        }
        #slt8:checked ~ #ncar8 {
          display: block;
          position: absolute;
          top: -70%;
          left: 10%;
          width: 80%;
        }
        #slt9:checked ~ #ncar9 {
          display: block;
          position: absolute;
          top: -70%;
          left: 30%;
          width: 50%;
        }
        #slt10:checked ~ #ncar10 {
          display: block;
          position: absolute;
          top: -70%;
          left: 10%;
          width: 80%;
        }
        #slt11:checked ~ #ncar11 {
          display: block;
          position: absolute;
          top: -70%;
          left: 10%;
          width: 80%;
        }
        #slt1:checked ~ #shwcar1 {
          display: block;
          display: block;
          width: 90%;
          position: absolute;
          top: -185%;
          left: 10%;
        }
        #slt2:checked ~ #shwcar2 {
          display: block;
          display: block;
          width: 90%;
          position: absolute;
          top: -185%;
          left: 10%;
        }
        #slt3:checked ~ #shwcar3 {
          display: block;
          display: block;
          width: 90%;
          position: absolute;
          top: -185%;
          left: 10%;
        }
        #slt4:checked ~ #shwcar4 {
          display: block;
          display: block;
          width: 75%;
          position: absolute;
          top: -195%;
          left: 15%;
        }
        #slt5:checked ~ #shwcar5 {
          display: block;
          display: block;
          width: 90%;
          position: absolute;
          top: -185%;
          left: 10%;
        }
        #slt6:checked ~ #shwcar6 {
          display: block;
          display: block;
          width: 90%;
          position: absolute;
          top: -185%;
          left: 10%;
        }
        #slt7:checked ~ #shwcar7 {
          display: block;
          display: block;
          width: 90%;
          position: absolute;
          top: -185%;
          left: 10%;
        }
        #slt8:checked ~ #shwcar8 {
          display: block;
          display: block;
          width: 90%;
          position: absolute;
          top: -185%;
          left: 10%;
        }
        #slt9:checked ~ #shwcar9 {
          display: block;
          display: block;
          width: 120%;
          position: absolute;
          top: -185%;
          left: -5%;
        }
        #slt10:checked ~ #shwcar10 {
          display: block;
          display: block;
          width: 90%;
          position: absolute;
          top: -185%;
          left: 10%;
        }
        #slt11:checked ~ #shwcar11 {
          display: block;
          display: block;
          width: 90%;
          position: absolute;
          top: -185%;
          left: 10%;
        }
      }
      #select-2:checked ~ .character-selection {
        top: 50%;
        width: 93%;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        #chrslt1:checked ~ #name1 {
          display: block;
          position: absolute;
          left: 15%;
          top: -85%;
          width: 65%;
        }
        #chrslt1:checked ~ #name1 {
          display: block;
          position: absolute;
          left: 15%;
          top: -85%;
          width: 70%;
        }
        #chrslt2:checked ~ #name2 {
          display: block;
          position: absolute;
          left: 15%;
          top: -85%;
          width: 70%;
        }
        #chrslt3:checked ~ #name3 {
          display: block;
          position: absolute;
          left: 25%;
          top: -85%;
          width: 55%;
        }
        #chrslt4:checked ~ #name4 {
          display: block;
          position: absolute;
          left: 30%;
          top: -85%;
          width: 45%;
        }
        #chrslt5:checked ~ #name5 {
          display: block;
          position: absolute;
          left: 20%;
          top: -85%;
          width: 60%;
        }
        #chrslt6:checked ~ #name6 {
          display: block;
          position: absolute;
          left: 15%;
          top: -85%;
          width: 70%;
        }
        #chrslt7:checked ~ #name7 {
          display: block;
          position: absolute;
          left: 15%;
          top: -85%;
          width: 70%;
        }
        #chrslt8:checked ~ #name8 {
          display: block;
          position: absolute;
          left: 15%;
          top: -85%;
          width: 70%;
        }
        #chrslt9:checked ~ #name9 {
          display: block;
          position: absolute;
          left: 15%;
          top: -85%;
          width: 70%;
        }
        #chrslt10:checked ~ #name10 {
          display: block;
          position: absolute;
          left: 30%;
          top: -85%;
          width: 35%;
        }
        #chrslt1:checked ~ #chshw1 {
          display: block;
          position: absolute;
          left: 20%;
          top: -270%;
          width: 70%;
          z-index: 99;
        }
        #chrslt2:checked ~ #chshw2 {
          display: block;
          position: absolute;
          left: 20%;
          top: -270%;
          width: 70%;
          z-index: 99;
        }
        #chrslt3:checked ~ #chshw3 {
          display: block;
          position: absolute;
          left: 20%;
          top: -270%;
          width: 70%;
          z-index: 99;
        }
        #chrslt4:checked ~ #chshw4 {
          display: block;
          position: absolute;
          left: 20%;
          top: -270%;
          width: 70%;
          z-index: 99;
        }
        #chrslt5:checked ~ #chshw5 {
          display: block;
          position: absolute;
          left: 20%;
          top: -270%;
          width: 70%;
          z-index: 99;
        }
        #chrslt6:checked ~ #chshw6 {
          display: block;
          position: absolute;
          left: 20%;
          top: -270%;
          width: 70%;
          z-index: 99;
        }
        #chrslt7:checked ~ #chshw7 {
          display: block;
          position: absolute;
          left: 20%;
          top: -270%;
          width: 70%;
          z-index: 99;
        }
        #chrslt8:checked ~ #chshw8 {
          display: block;
          position: absolute;
          left: 25%;
          top: -240%;
          width: 60%;
          z-index: 99;
        }
        #chrslt9:checked ~ #chshw9 {
          display: block;
          position: absolute;
          left: 20%;
          top: -270%;
          width: 70%;
          z-index: 99;
        }
        #chrslt10:checked ~ #chshw10 {
          display: block;
          position: absolute;
          left: 30%;
          top: -210%;
          width: 50%;
          z-index: 99;
        }
      }
    }
  }
}

.gogoracing-footer-distributed {
  background: rgb(68, 68, 68);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: bold 16px sans-serif;
  margin: 0;
  overflow-y: hidden;
  padding: 2% 50px;
}
.footer-left {
  display: flex;
}
.gogoracing-footer-distributed .footer-left,
.gogoracing-footer-distributed .footer-center,
.gogoracing-footer-distributed .footer-right {
  display: inline-block;
  vertical-align: top;
}

/* Footer left */

.gogoracing-footer-distributed .footer-left {
  width: 40%;
  display: inline-block;
}

/* The company logo */
.footer-left {
  display: flex;
}
.logso {
  margin: 0;
  width: 27%;
}

/* Footer links */

.gogoracing-footer-distributed .footer-links {
  color: #ffb808;
  padding: 0;
}

.gogoracing-footer-distributed .footer-links a {
  display: inline-block;
  line-height: 1.8;
  font-weight: 400;
  text-decoration: none;
  color: inherit;
}

.gogoracing-footer-distributed .footer-company-name {
  color: #ffb808;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}

/* Footer Center */

.footer-center {
  width: 40%;
  p span {
    display: block;
    font-weight: normal;
    font-size: 14px;
    line-height: 2;
  }
  a {
    color: #ffb808;
    text-decoration: none;
  }
  .desz {
    margin-bottom: 10px;
  }
}

.gogoracing-footer-distributed .footer-center p a {
  color: #ffb808;
  text-decoration: none;
}

.gogoracing-footer-distributed .footer-links a::after {
  content: "|";
  font-weight: 300;
  font-size: 20px;
  left: 0;
  color: #ffb808;
  display: inline-block;
  padding-right: 5px;
  margin-left: 5px;
}

.gogoracing-footer-distributed .footer-links .link-1:before {
  content: none;
}

/* Footer Right */

.gogoracing-footer-distributed .footer-right {
  width: 20%;
}

.gogoracing-footer-distributed .footer-company-about {
  line-height: 20px;
  color: #92999f;
  font-size: 13px;
  font-weight: normal;
  margin: 0;
}

.gogoracing-footer-distributed .footer-company-about span {
  display: block;
  color: #ffffff;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 20px;
}

.gogoracing-footer-distributed .footer-icons ul {
  display: flex;
  margin-top: 25px;
  justify-content: center;
  align-items: center;
}

.gogoracing-footer-distributed .footer-icons li a {
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  background-color: #ffb808;
  border-radius: 2px;
  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 40px;
  margin: 0 10px;
  border-radius: 50%;
}

/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 880px) {
  .gogoracing-footer-distributed {
    font: bold 12px sans-serif;
    top: 0;
    .logso {
      width: 47%;
      margin-top: 10%;
    }
  }

  .gogoracing-footer-distributed .footer-left,
  .gogoracing-footer-distributed .footer-center,
  .gogoracing-footer-distributed .footer-right {
    display: block;
    width: 100%;
    margin-bottom: 40px;
    text-align: center;
  }

  .gogoracing-footer-distributed .footer-center i {
    margin-left: 0;
  }
}
@media only screen and (max-height: 800px) {
  .gogoracing {
    .gogoracing-wrapper {
      height: 120vh;
      .ggrwelcome {
        height: 50%;
        span {
          width: 80%;
          p {
            font-size: 11px;
          }
        }
      }
    }
    .features-select {
      height: 120vh;
    }
  }
}
