.gogoracingnews {
  margin-top: 2.8%;
  height: 100%;
  .gogo-racing-news-wrapper {
    background-image: url("/src/images/gogoracingbackground/withlogo.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1;
    .ggrnews-contents {
      margin-top: 2%;
      width: 60%;
      height: 40%;
      .ggr-top {
        display: flex;
        justify-content: space-between;
        background-color: rgb(48, 48, 48);
        color: white;
        align-items: center;
        height: 10%;
        border-top: 8px solid black;
        .ggr-left {
          margin-left: 3%;
          font-size: 16px;
        }
        .ggr-right {
          margin-right: 2%;
          position: relative;
          display: flex;
          justify-content: center;
          align-self: center;
          #text-search {
            position: absolute;
            right: 200%;
            width: 1500%;
            height: 75%;
            border-radius: 8px;
            margin-top: 10%;
            display: none;
            padding-left: 5px;
          }
          input[type="checkbox"] {
            opacity: 0;
          }
          #searchs {
            cursor: pointer;
            padding: 7px 10px;
            border-radius: 3px;
            background-color: #51575a;
            &:hover {
              background-color: azure;
              color: black;
            }
          }
          #close {
            display: none;
          }

          #search:checked ~ #text-search {
            display: block;
          }
          #search:checked ~ #close {
            display: none;
          }
        }
      }
      .ggrnws-contents {
        background-color: white;
        height: 100%;
        ul {
          list-style: none;
          margin: 0;
          li {
            border-bottom: 1px solid rgb(230, 230, 230);
            height: 9.9vh;
            padding-left: 2%;
            display: flex;
            align-items: center;
            justify-content: left;
            -webkit-touch-callout: none; 
            -webkit-user-select: none; 
             -khtml-user-select: none; 
               -moz-user-select: none; 
                -ms-user-select: none; 
                    user-select: none;
            cursor: pointer;
            .li-left {
              width: 5%;
              margin: 0;
              margin-right: 2%;
              img {
                width: 90%;
              }
            }
            .li-right {
              display: flex;
              flex-direction: column;
              justify-content: space-around;
              height: 50%;
            }
            h3 {
              font-weight: 100;
            }
            span {
              font-size: 13px;
              margin-top: 1%;
              color: gray;
            }
            &:hover {
              background-color: rgb(211, 211, 211);
            }
          }
        }
      }
    }
  }
}
@media only screen and (max-width: 500px) {
  .gogoracingnews {
    width: 100%;
    height: 100%;
    .gogo-racing-news-wrapper {
      background-image: url("/src/images/gogoracingbackground/ggrmb.png");
      background-repeat: no-repeat;
      background-size: 100% 100%;
      background-position: center;
      background-attachment: fixed;
      .ggrnews-contents {
        width: 100%;
        height: 50%;
        .ggr-top {
          .ggr-right {
            #text-search {
              right: 120%;
              width: 350%;
            }
          }
        }
      }
    }
  }
}