$primary: #1d1f20;
$secondary: #2c3e50;
$success: #27ae60;
$error: #e74c3c;

.joblist-wrapper {
  height: 100vh;
  width: 100%;
  margin-top: 10%;
  color: white;
  img {
    width: 80%;
  }
  .career-wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
    .img-palpetine {
      width: 35%;
      display: flex;
      height: 100%;
      justify-content: center;
      img {
        width: 100%;
        height: 50%;
      }
    }
  }
  form {
    width: 45%;
    position: relative;
    padding: 2rem;
    box-sizing: border-box;
    text-align: center;
    background-color: rgb(39, 39, 39);
    .form-group {
      display: flex;
      flex-direction: column;
      line-height: 2;

      #inputf {
        width: 60%;
        height: 60%;
        display: flex;
        align-items: zzzzz;
        margin-bottom: 5%;
        border-radius: 4px;
        border: 2px solid #ddd;
        font-size: 15px;
        color: rgb(255, 255, 255);
        transition: border-color 0.2s;
      }
      .custom-dropdown {
        position: relative;
        display: inline-block;
        border: 1px solid white;
        margin: 10px 0; /* demo only */
        width: 60%;
        &::before {
          /*  Custom dropdown arrow cover */
          width: 2em;
          right: 0;
          top: 0;
          bottom: 0;
          border-radius: 0 3px 3px 0;
        }
        &::after {
          /*  Custom dropdown arrow */
          content: "";
          height: 1em;
          font-size: 0.625em;
          line-height: 1;
          right: 1.2em;
          top: 50%;
          margin-top: -0.5em;
        }
      }
      .custom-dropdown select {
        display: flex;
        background-color: #272727;
        color: #fff;
        font-size: inherit;
        width: 100%;
        height: 100%;
        padding: 0.5em;
        border: 0;
        margin: 0;
        border-radius: 3px;
        transition: 0.1s ease-in;
        cursor: pointer;
        text-indent: 0.01px;
        text-overflow: "";
        outline: none;
        -webkit-appearance: button; /* hide default arrow in chrome OSX */
        &::before,
        &::after {
          content: "";
          position: absolute;
          pointer-events: none;
        }
        &:hover {
          background-color: #414040;
        }
      }

      h1 {
        width: 100%;
        display: flex;
        align-items: baseline;
        justify-content: baseline;
        margin-bottom: 0.5rem;
        position: relative;
        color: #cfcece;
        font-weight: bold;
        font-size: 17px;
        span {
          color: $error;
        }
      }

      button {
        padding: 1rem 1.5rem;
        background: none;
        border: none;
        border-radius: 30px;
        background-color: $primary;
        color: white;
        text-transform: uppercase;
        font-size: 14px;
        font-weight: bold;
        margin: 4rem auto 0 auto;
        display: inline-block;
        cursor: pointer;
        transition: all 400ms linear;
        &:hover {
          background-color: darken($primary, 10%);
        }
        &.disabled {
          cursor: not-allowed;
          background-color: lighten($primary, 30%);
          &:hover {
            background-color: lighten($primary, 30%);
          }
        }
      }
    }
  }
}
