@use "../components/mixins" as mixin;

a {
  color: #000;
}

/* header */

.navbar {
  width: 100%;
  z-index: 20;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar ul {
  margin: 0 25px;
  padding: 0;
  list-style: none;
  overflow: hidden;
}

.navbar li a {
  display: block;
  padding: 20px 20px;
  text-decoration: none;
  font-weight: 900;
  color: white;
}
.navbar li p{
  display: block;
  padding: 20px 20px;
  margin: 0;
  color: white;
  cursor: pointer;
  font-weight: 900;
}


.navbar li a:hover,
.navbar .menu-btn:hover {
  background-color: #f4f4f4;
  color: #000;
}

.logo {
  display: block;
  float: left;
  width: 50%;
  padding: 10px 20px;
  margin: 0 25px;
  img {
    width: 45%;
  }
  
}

.tab {
  position: absolute;
  list-style: none;
  min-width: 200px;
  border-bottom: 1px solid #bbb;
  border-bottom: 1px solid rgba(10, 10, 10, 0.1);
  color: rgb(255, 255, 255);
  background-color: rgb(114, 114, 114);
}
.navbar ul.tab li {
  float: none;
  border-bottom: 1px solid rgba(10, 10, 10, 0.1);
}
.navbar .tab {
  position: absolute;
  z-index: 500;
  display: none;
  margin-top: -5px;
}
li:hover > .tab {
  display: block;
  margin-top: 0;
}
/* menu */

.navbar .menu {
  clear: both;
  max-height: 0;
  transition: max-height 0.2s ease-out;
}

/* menu icon */

.navbar .menu-icon {
  cursor: pointer;
  display: block;
  float: right;
  padding: 28px 20px;
  position: relative;
  user-select: none;
}

.navbar .menu-icon .navicon {
  background-color: rgb(0, 0, 0);
  display: block;
  height: 3px;
  position: relative;
  transition: background-color 0.2s ease-out;
  width: 20px;
}

.navbar .menu-icon .navicon:before,
.navbar .menu-icon .navicon:after {
  background-color: rgb(0, 0, 0);
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  transition: all 0.2s ease-out;
  width: 100%;
}

.navbar .menu-icon .navicon:before {
  top: 5px;
}

.navbar .menu-icon .navicon:after {
  top: -5px;
}

/* menu btn */

.navbar .menu-btn {
  display: none;
}

.navbar .menu-btn:checked ~ .menu {
  max-height: 240px;
}

.navbar .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.navbar .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.navbar .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.navbar .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.navbar .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

/* 48em = 768px */

@media (min-width: 450px) {
  .navbar li {
    float: left;
  }
  .navbar li a {
    padding: 20px 30px;
  }
  .navbar .menu {
    clear: none;
    float: right;
    max-height: none;
  }
  .navbar .menu-icon {
    display: none;
  }
  .logo {
    width: 50%;
    height: 10%;
    padding-left: 20px;
    img {
      width: 20%;
      height: 5%;
    }
  }
}

// .active {
//   background-color: #494949;
//   transition: background-color 0.28s;
//   border-bottom: none;
// }
