@use "../components/mixins" as mixin;

.navbar {
  position: sticky;
  top: 0;
  z-index: 99;
  display: flex;
  align-items: center;
  backdrop-filter: blur(30px);
  width: 100%;
  background-color: #fd040460;
  background-image: -webkit-linear-gradient(top, #e0e0e0, #c8c8c8);
  background-image: -moz-linear-gradient(top, #e0e0e0, #c8c8c8);
  background-image: -o-linear-gradient(top, #e0e0e0, #c8c8c8);
  background-image: -ms-linear-gradient(top, #e0e0e0, #c8c8c8);
  background-image: linear-gradient(top, #e0e0e0, #c8c8c8);
  .clearfix {
    margin-top: 0;
  }
  .clearfix:before,
  .clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
  }
}
.container {
  width: 100%;
  margin-top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      width: 100px;
      height: 40px;
      margin-left: 4rem;
      padding: 0;
    }
  }
  ul {
    list-style: none;
    display: flex;
    align-items: center;
    margin-right: 20px;
    margin: 0;
    li {
      display: block;
      float: left;
      border-right: 1px solid #bbb;
      border-right: 1px solid rgba(10, 10, 10, 0.1);
      li:last-child {
        border-right: 0px;
      }
      a {
        display: block;
        text-decoration: none;
        padding: 18px 50px;
        font-weight: bold;
        text-shadow: 0 1px #f8f8f8;
        color: #444;
        margin: 0;

        &:hover {
          box-shadow: 0 0 24px #000000;
        }
      }
    }
  }
}

.container > ul > li > a:hover,
.container > ul > li:hover {
  background-color: white;
  border-left: none;
}
.container .tab {
  position: absolute;
  list-style: none;
  min-width: 200px;
  border-bottom: 1px solid #bbb;
  border-bottom: 1px solid rgba(10, 10, 10, 0.1);
  color: #787878;
  background-color: white;
  padding: 10px 15px 10px;
  display: none;
  li {
    float: none;
    border-bottom: 1px solid rgba(10, 10, 10, 0.1);
    a {
      display: block;
      text-decoration: none;
      font-size: 10pt;
      padding: 10px 15px 10px;
      color: #787878;
      &:hover {
        color: black;
        background-color: #f9f9f9;
      }
    }
  }
}
.active {
  background-color: #d4d4d4;
  background-image: -webkit-linear-gradient(top, #e0e0e0, #c8c8c8);
  background-image: -moz-linear-gradient(top, #e0e0e0, #c8c8c8);
  background-image: -o-linear-gradient(top, #e0e0e0, #c8c8c8);
  background-image: -ms-linear-gradient(top, #e0e0e0, #c8c8c8);
  background-image: linear-gradient(top, #e0e0e0, #c8c8c8);

  ul li a {
    display: block;
    text-decoration: none;
    padding: 18px 50px;
    font-weight: bold;
    text-shadow: 0 1px #f8f8f8;
    color: #444;
  }
}
// tabs
li:hover .tab {
  display: block;
  margin-top: 0;
}
.container ul > li:last-child {
  border-right: 0px;
}
