@use "../components/mixins" as mixin;

a {
  color: #000;
}

/* header */

.navbar {
  position: absolute;
  width: 100%;
  z-index: 99;
  background-color: transparent;
  backdrop-filter: blur(1px);
  top: 0;
  background-color: white;
}

.navbar ul {
  margin: 20px 30px;
  padding: 0;
  list-style: none;

  animation: surprise 3s ease;
  overflow-x: hidden;
  overflow-y: hidden;
}

.navbar li a {
  display: block;
  padding: 20px 10px;
  text-decoration: none;
  font-weight: 900;
  color: #ffb808;
  margin: 0 5px;
}
.navbar li span {
  display: block;
  padding: 20px 14px;
  margin: 0;
  color: #ffb808;
  cursor: pointer;
  font-weight: 900;
}

.navbar li a:hover,
.navbar .menu-btn:hover {
  color: black;
}
.navbar li span:hover,
.menu-btn:hover {
  color: black;
}
.navbar li Link:hover,
.menu-btn:hover {
  color: black;
}
.logo {
  display: block;
  float: left;
  width: 30%;
  padding: 2px 20px;
  margin: 20px 25px 0;
  animation: surprise-logo 3s ease;
  img {
    width: 90%;
  }
}

.tab {
  position: absolute;
  list-style: none;
  min-width: 100px;
  border-bottom: 1px solid #bbb;
  border-bottom: 1px solid rgba(10, 10, 10, 0.1);
  color: black;
  background-color: white;
  animation: bruh .3s ease;
}
.tabs {
  position: absolute;
  list-style: none;
  min-width: 200px;
  border-bottom: 1px solid #bbb;
  border-bottom: 1px solid rgba(10, 10, 10, 0.1);
  color: black;
  background-color: white;

}
.navbar ul.tab li {
  float: none;
  border-bottom: 1px solid rgba(10, 10, 10, 0.1);
  a {
    color: black;
  }
}
.navbar ul.tabs li {
  float: none;
  border-bottom: 1px solid rgba(10, 10, 10, 0.1);
  a {
    color: black;
  }
}
.navbar .tab {
  position: absolute;
  z-index: 500;
  display: none;
  margin-top: -5px;
  animation: bruh .3s ease;
}
.navbar .tabs {
  position: absolute;
  z-index: 500;
  display: none;
  margin-top: -5px;
  color: #ffb808;
  animation: bruh .3s ease;
}
li:hover > .tab {
  display: block;
  margin-top: 0;
}
li:hover > .tabs {
  display: block;
  margin-top: 0;
}
/* menu */

.navbar .menu {
  clear: both;
  max-height: 0;
  transition: max-height 0.2s ease-out;
}

/* menu icon */

.navbar .menu-icon {
  cursor: pointer;
  display: block;
  float: right;
  padding: 28px 20px;
  position: relative;
  user-select: none;
}

.navbar .menu-icon .navicon {
  background-color: rgb(0, 0, 0);
  display: block;
  height: 3px;
  position: relative;
  transition: background-color 0.2s ease-out;
  width: 20px;
}

.navbar .menu-icon .navicon:before,
.navbar .menu-icon .navicon:after {
  background-color: rgb(0, 0, 0);
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  transition: all 0.2s ease-out;
  width: 100%;
}

.navbar .menu-icon .navicon:before {
  top: 5px;
}

.navbar .menu-icon .navicon:after {
  top: -5px;
}

/* menu btn */

.navbar .menu-btn {
  display: none;
}

.navbar .menu-btn:checked ~ .menu {
  max-height: 240px;
}

.navbar .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.navbar .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.navbar .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.navbar .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.navbar .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

/* 48em = 768px */

@media (min-width: 800px) {
  .navbar li {
    float: left;
  }
  .navbar li span {
    padding: 20px 30px;
  }
  .navbar li a {
    padding: 20px 30px;
  }
  .navbar .menu {
    clear: none;
    float: right;
    max-height: none;
  }
  .navbar .menuz {
    clear: none;
    float: right;
    max-height: none;
  }
  .navbar .menu-icon {
    display: none;
  }
  .logo {
    width: 20%;
    height: 5%;
    padding-left: 20px;
    .main-logo {
      width: 40%;
      height: 5%;
      &:hover {
        filter: grayscale(100%);
      }
    }
  }
}
@media (max-width: 450px) {
  .menu-icon {
    border-radius: 50%;
  }
  .tab {
    background-color: white;
  }
  .menu {
    background-color: white;
  }
  .navbar {
    background-color: white;
  }
}

@media (min-width: 450px) {
  .logo {
    img {
      width: 50%;
    }
  }
}
@keyframes surprise {
  from {
    transform: translate(300px, 0);
    opacity: 0;
  }
  to {
    transform: translate(0, 0);
    opacity: 1;
  }
}
@keyframes surprise-logo {
  from {
    transform: translate(-300px, 0);
    opacity: 0;
  }
  to {
    transform: translate(0, 0);
    opacity: 1;
  }
}
@keyframes bruh {
  from {
    transform: translate(-300px, 0);
    opacity: 0;
  }
  to {
    transform: translate(0, 0);
    opacity: 1;
  }
}
