.news {
  background-image: url("/src/images/banner1.png");
  background-size: cover;
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.accordion {
  background-color: white;
  height: 90%;
  width: 90%;
  margin: 5em auto;
  border: 2px solid black;
}
label {
  cursor: pointer;
}
ul.contentlist {
  margin: 0;
  padding: 0;
  list-style: none;
}

ul.contentlist > li.job-preview {
  background: #fff;
  border-bottom: 1px solid #d7e2e9;
  -webkit-border-radius: 0.4rem;
  -moz-border-radius: 0.4rem;
  border-radius: 0.4rem;
  padding: 1.5rem 2rem;
  margin-bottom: 1rem;
  float: left;
  width: 100%;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.contentlist-announcement {
  margin: 0;
  padding: 0;
  list-style: none;
  .title-content::after {
    content: " 📣";
  }
  li.job-preview {
    background: #fff;
    border-bottom: 1px solid #d7e2e9;
    -webkit-border-radius: 0.4rem;
    -moz-border-radius: 0.4rem;
    border-radius: 0.4rem;
    padding: 1.5rem 2rem;
    margin-bottom: 1rem;
    float: left;
    width: 100%;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
.contentlist-news {
  margin: 0;
  padding: 0;
  list-style: none;
  .title-content::after {
    content: " 📰";
  }
  li.job-preview {
    background: #fff;
    border-bottom: 1px solid #d7e2e9;
    -webkit-border-radius: 0.4rem;
    -moz-border-radius: 0.4rem;
    border-radius: 0.4rem;
    padding: 1.5rem 2rem;
    margin-bottom: 1rem;
    float: left;
    width: 100%;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
.expand-label {
  display: block;
  color: rgb(247, 190, 34);
  font-size: 1.5em;
  padding: 10px;
  border: 1px solid #ccc;
  margin: 0 auto;
}
.btnzl {
  text-transform: uppercase;
  font-size: 0.875rem;
  font-weight: 800;
  letter-spacing: 1px;
  background-color: transparent;
  color: #e98363;
  border: 2px solid #393a5f;
  padding: 0.6rem 3rem;
  -webkit-border-radius: 2rem;
  -moz-border-radius: 2rem;
  border-radius: 2rem;
  cursor: pointer;
  &:after {
    content: "👀";
  }
}
.news-title {
  h1 {
    margin: 1% 2%;
  }
}

.btn-stuff {
  margin-right: 5%;
}

.btnzl:hover {
  background-color: #ffb808;
  color: #fff;
  border: 2px solid #ffb808;
}
.expand-label:hover {
  background: #e9e9e9;
}
.expand-label::before {
  display: inline-block;
  content: "▶";
  font-size: 1.2em;
  margin-right: 3px;
  transition: transform 0.1s;
  transform-origin: 50% 50%;
}
.expand-input {
  display: none;
}
.expand-content {
  max-height: 0;
  overflow-y: scroll;
  overflow-x: hidden;
  transition: max-height 0.2s;
}

.expand-input:checked + .expand-label::before {
  transform: rotate(90deg);
  transition: transform 0.1s;
}
.expand-input:checked ~ .expand-content {
  max-height: 200px;
}
