.news {
  width: 100%;
  height: 100vh;
  background-color: #0c0c0c;
  .news-wrapper {
    background-color: #0c0c0c;
    padding-top: 5%;
    width: 100%;
    height: 100%;
    h1 {
      color: white;
      text-align: center;
    }
    .listn-wrapper {
      background-color: #0c0c0c;
      width: 100%;
      height: 100%;
    }
    .news-list {
      width: 100%;
      background-color: #0c0c0c;
      height: 100%;
      display: grid;
      grid-template-columns: 1fr 1fr;
      li {
        display: flex;
        align-items: center;
        width: 70%;
        height: 100%;
        margin: 0 auto;
        &:nth-child(2) {
          .gleft {
            background-image: url("/src/images/icons/scionn.png");
          }
        }
        &:nth-child(3) {
          .gleft {
            background-image: url("/src/images/gogow.jpg");
          }
        }
        &:nth-child(4) {
          .gleft {
            background-image: url("/src/images/icons/ggchain.png");
          }
        }
        .gleft {
          background-image: url("/src/images/icons/Icon_IOS_192.png");
          background-position: center;
          background-size: 100% 100%;
          background-repeat: no-repeat;
          width: 50%;
          height: 50%;
        }
        .gright {
          margin-right: 15%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          width: 50%;
          color: rgb(196, 196, 196);
          h3 {
            font-size: 27px;
          }
          p {
            font-size: 16px;
          }
          span {
            cursor: pointer;
            color: white;
            width: 50%;
            text-align: center;
            background-color: rgb(114, 89, 252);
            padding: 5%;
            border-radius: 15px;
            transition: 0.2s ease-in;
            &:hover {
              background-color: rgb(79, 48, 253);
            }
          }
          a {
            color: white;
            width: 50%;
            text-align: center;
            background-color: rgb(114, 89, 252);
            padding: 5%;
            border-radius: 15px;
            &:hover {
              background-color: rgb(79, 48, 253);
            }
          }
        }
      }
    }
  }
}
@media only screen and (max-width: 800px) {
  .news {
    .news-wrapper {
      padding-top: 20%;
      .listn-wrapper {
        .news-list {
          display: flex;
          flex-direction: column;
          li {
            width: 100%;
            display: flex;
          }
        }
      }
    }
  }
}
