@import url("https://www.dafontfree.net/embed/cHJlc3RpZ2UtZWxpdGUtc3RkLXJlZ3VsYXImZGF0YS80OC9wLzQ3OTE1L1ByZXN0aWdlRWxpdGVTdGQub3Rm");

.wrapper1 {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: centers;
  height: 100vh;
  background-image: url("/src/images/tet.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.scion {
  color: black;
}
.wrapper2 {
  height: 120vh;
  background-image: url("/src/images/background/bg-2.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .titles {
    height: 20vh;
    width: 100%;
    font-size: 40px;
    text-align: center;
    color: #ffffff;
    padding-top: 20px;
    text-shadow: #fff 0px 0px 5px, rgb(165, 165, 165) 0px 0px 10px,
      #fff 0px 0px 15px, #f1ff2d 0px 0px 30px, #ffd82d 0px 0px 40px,
      #ff7a2d 0px 0px 50px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  p {
    font-size: 30px;
    color: white;
    width: 50%;
    height: 50%;
    font-weight: 900;
    background-image: url("/src/images/background/textsmoke.png");
    background-size: cover;
    background-repeat: no-repeat;
  }
  .orange {
    color: orange;
  }
}
.wrapper3 {
  background-color: black;
  height: 110vh;
  .titles {
    height: 20vh;
    width: 100%;
    font-size: 40px;
    text-align: center;
    color: #ffffff;
    padding-top: 20px;
    text-shadow: #fff 0px 0px 5px, rgb(165, 165, 165) 0px 0px 10px,
      #fff 0px 0px 15px, #f1ff2d 0px 0px 30px, #ffd82d 0px 0px 40px,
      #ff7a2d 0px 0px 50px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .intro-wrap {
    display: grid;
    grid-template-columns: 2fr 2fr 2fr;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    .intro-img {
      border: 2px solid orange;
      padding: 0;
      &:hover {
        opacity: 0.8;
      }
    }
    img {
      width: 100%;
    }
  }
  .promotes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
.wrapper4 {
  width: 100%;
  height: 100vh;
  background-image: url("/src/images/background/bg-3.png");
  background-size: cover;
  background-color: black;
  .titles {
    width: 100%;
    font-size: 40px;
    text-align: center;
    color: #ffffff;
    padding-top: 20px;
    text-shadow: #fff 0px 0px 5px, rgb(165, 165, 165) 0px 0px 10px,
      #fff 0px 0px 15px, #f1ff2d 0px 0px 30px, #ffd82d 0px 0px 40px,
      #ff7a2d 0px 0px 50px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .feauture-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4%;
    img {
      width: 100%;
    }
  }
}
