@import url("https://www.dafontfree.net/embed/cHJlc3RpZ2UtZWxpdGUtc3RkLXJlZ3VsYXImZGF0YS80OC9wLzQ3OTE1L1ByZXN0aWdlRWxpdGVTdGQub3Rm");

.scion {
  overflow-x: hidden;
  overflow-y: hidden;
}
.wrapper1 {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url("/src/images/tet.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  .scion-links {
    display: flex;
    width: 100%;
    position: absolute;
    bottom: 5%;
    ul {
      display: flex;
      margin: 0 auto;
      li {
        display: flex;
        flex-direction: row;
        a {
          padding: 15px 20px;
          font-size: 30px;
          color: white;
          background-color: #ffd82d;
          border-radius: 50%;
          margin: 0 15px;
        }
      }
    }
  }
}
.scion {
  color: black;
}
.wrapper2 {
  height: 120vh;
  background-image: url("/src/images/background/bg-2.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .titles {
    height: 20vh;
    width: 100%;
    font-size: 30px;
    text-align: center;
    color: #ffffff;
    padding-top: 20px;
    text-shadow: #fff 0px 0px 5px, rgb(165, 165, 165) 0px 0px 10px,
      #fff 0px 0px 15px, #f1ff2d 0px 0px 30px, #ffd82d 0px 0px 40px,
      #ff7a2d 0px 0px 50px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .story {
    font-size: 30px;
    color: white;
    width: 50%;
    height: 50%;
    font-weight: 900;
    background-image: url("/src/images/background/textsmoke.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
  }
  .orange {
    color: orange;
  }
}
.wrapper3 {
  background-color: black;
  height: 110vh;
  .titles {
    height: 20vh;
    width: 100%;
    font-size: 30px;
    text-align: center;
    color: #ffffff;
    padding-top: 20px;
    text-shadow: #fff 0px 0px 5px, rgb(165, 165, 165) 0px 0px 10px,
      #fff 0px 0px 15px, #f1ff2d 0px 0px 30px, #ffd82d 0px 0px 40px,
      #ff7a2d 0px 0px 50px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .intro-wrap {
    display: grid;
    grid-template-columns: 2fr 2fr 2fr;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    .intro-img {
      padding-top: 16px;
      padding: 0;
      margin: 4px 3px;
      position: relative;
      border-top: 3px solid transparent;
      box-sizing: border-box;
      background-clip: padding-box;
      &:before {
        content: "";
        position: absolute;
        background: linear-gradient(to right, red, orange);
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: -1;
      }
    }
    img {
      width: 100%;
    }
  }
  .intro-img:hover {
    opacity: 0.8;
  }
  .promotes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
.wrapper4 {
  width: 100%;
  height: 80vh;
  background-image: url("/src/images/background/bg-3.png");
  background-size: contain;
  background-color: black;
  .titles {
    width: 100%;
    font-size: 30px;
    text-align: center;
    color: #ffffff;
    padding-top: 20px;
    text-shadow: #fff 0px 0px 5px, rgb(165, 165, 165) 0px 0px 10px,
      #fff 0px 0px 15px, #f1ff2d 0px 0px 30px, #ffd82d 0px 0px 40px,
      #ff7a2d 0px 0px 50px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .feauture-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4%;
    img {
      width: 100%;
    }
  }
}
.wrapper5 {
  width: 100%;
  height: 110vh;
  max-height: 110vh;
  background-image: url("/src/images/background/bg-weapon.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: black;
  .titles {
    width: 100%;
    font-size: 35px;
    text-align: center;
    color: #ffffff;
    padding-top: 20px;
    text-shadow: #fff 0px 0px 5px, rgb(165, 165, 165) 0px 0px 10px,
      #fff 0px 0px 15px, #f1ff2d 0px 0px 30px, #ffd82d 0px 0px 40px,
      #ff7a2d 0px 0px 50px;
    padding-top: 5%;
  }
  .characters {
    width: 100%;
    position: relative;
    .character {
      width: 100%;
      position: relative;
      img {
        width: 20%;
        height: 10%;
        margin: 0 auto;
      }
      #irinaa {
        width: 10%;
      }
      #risaa {
        width: 10%;
      }
    }
  }
  .ch-description {
    position: absolute;
    width: 50%;
    top: 10%;
    left: 60%;
    .name {
      background-image: linear-gradient(
        to top,
        #fff29d,
        #ffea2e,
        #ffb32a,
        #ffb32a,
        #ffed2f
      );
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      font-size: 28px;
      font-weight: bolder;
    }
    .story {
      width: 50%;
      color: white;
      font-size: 20px;
    }
  }
  #small {
    width: 28%;
  }
  .next {
    top: 50%;
    right: 4%;
    img {
      width: 150%;
    }
  }
  .arrow {
    position: absolute;
    cursor: pointer;
    z-index: 10;
    color: white;
  }
}
.prev {
  left: 2%;
  top: 50%;
  img {
    width: 150%;
    color: pink;
  }
}
.wrapper6 {
  width: 100%;
  height: 150%;
  background-color: black;
  .titles {
    width: 100%;
    font-size: 30px;
    text-align: center;
    color: #ffffff;
    padding-top: 20px;
    text-shadow: #fff 0px 0px 5px, rgb(165, 165, 165) 0px 0px 10px,
      #fff 0px 0px 15px, #f1ff2d 0px 0px 30px, #ffd82d 0px 0px 40px,
      #ff7a2d 0px 0px 50px;
    padding-top: 5%;
    padding-bottom: 5%;
  }
  .weapon-wrapper {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    .weapon {
      display: flex;
      margin: 20px 5px;
      flex-direction: column;
      background-image: url("/src/images/background/bg-weapon.png");
      background-repeat: no-repeat;
      border-radius: 15px;
      align-items: center;
      img {
        width: 100%;
        height: 100%;
        margin: auto 0;
      }
      h4 {
        text-align: center;
        background-image: linear-gradient(
          to top,
          #fff29d,
          #ffea2e,
          #ffb32a,
          #ffb32a,
          #ffed2f
        );
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        border-bottom: 2px solid yellow;
      }
    }
  }
}
.playnow {
  background-color: black;
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  h1 {
    width: 30%;
    margin: 0 auto;
    margin-bottom: 4%;
    background-size: 100% 100%;
    font-size: 35px;
    text-align: center;
    color: 
      #ffed2f;
      background-image: url("/src/images/background/gunhole-1.png");  
      background-repeat: no-repeat;
      background-size: 100% 100%;
  }
  ul {
    margin: 0 auto;
    width: 70%;
    display: flex;
    justify-content: space-around;
    li {
      img {
        width: 125%;
      }
    }
  }
}
// Footer
.footer-distributed {
  background: rgb(68, 68, 68);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: bold 16px sans-serif;
  padding: 10px 50px;
}
.footer-left {
  display: flex;
}
.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right {
  display: inline-block;
  vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left {
  width: 40%;
  display: inline-block;
}

/* The company logo */
.footer-left {
  display: flex;
}
.logso {
  margin: 0;
  width: 27%;
}

/* Footer links */

.footer-distributed .footer-links {
  color: #ffb808;
  padding: 0;
}

.footer-distributed .footer-links a {
  display: inline-block;
  line-height: 1.8;
  font-weight: 400;
  text-decoration: none;
  color: inherit;
}
.footer-distributed .footer-links p {
  display: inline-block;
  line-height: 1;
  font-weight: 400;
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

.footer-distributed .footer-company-name {
  color: #ffb808;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}

/* Footer Center */

.footer-center {
  width: 40%;
  p span {
    display: block;
    font-weight: normal;
    font-size: 14px;
    line-height: 2;
  }
  a {
    color: #ffb808;
    text-decoration: none;
  }
  .desz {
    margin-bottom: 10px;
  }
}

.footer-distributed .footer-center p a {
  color: #ffb808;
  text-decoration: none;
}

.footer-distributed .footer-links a:before {
  content: "";
  font-weight: 300;
  font-size: 20px;
  left: 0;
  color: #ffb808;
  display: inline-block;
  padding-right: 1px;
  margin-left: 1px;
}

.footer-distributed .footer-links p:after {
  content: "|";
  font-weight: 300;
  font-size: 20px;
  left: 0;
  color: #ffb808;
  display: inline-block;
  padding-right: 5px;
  margin-left: 5px;
}
.footer-distributed .footer-links .link-1:before {
  content: none;
}

/* Footer Right */

.footer-distributed .footer-right {
  width: 20%;
}

.footer-distributed .footer-company-about {
  line-height: 20px;
  color: #92999f;
  font-size: 13px;
  font-weight: normal;
  margin: 0;
}

.footer-distributed .footer-company-about span {
  display: block;
  color: #ffffff;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 20px;
}

.footer-distributed .footer-icons ul {
  display: flex;
  margin-top: 25px;
  justify-content: center;
  align-items: center;
}

.footer-distributed .footer-icons li a {
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  background-color: #ffb808;
  border-radius: 2px;
  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 40px;
  margin: 0 10px;
  border-radius: 50%;
}

/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 880px) {
  .footer-distributed {
    font: bold 12px sans-serif;
    top: 1000px;
    .logso {
      margin-top: 10%;
      width: 47%;
    }
  }

  .footer-distributed .footer-left,
  .footer-distributed .footer-center,
  .footer-distributed .footer-right {
    display: block;
    width: 100%;
    margin-bottom: 40px;
    text-align: center;
  }

  .footer-distributed .footer-center i {
    margin-left: 0;
  }
}

@media (max-width: 450px) {
  .wrapper1 {
    margin-top: 12%;
    background-image: url("/src/images/folder/bannerm.jpg");
  }
  .wrapper2 {
    height: 60vh;
    .story {
      font-size: 18px;
      text-align: center;
      width: 100%;
    }
  }
  .wrapper5 {
    padding-top: 20%;
    .characters {
      img {
        width: 20%;
        height: 30%;
      }
      .character {
        #irinaa {
          width: 30%;
          margin-top: 7%;
          height: 55%;
        }
        #risaa {
          width: 37%;
          margin-top: 7%;
          height: 55%;
        }
      }
    }
  }
}
.wrapper1 {
  .bootons {
    position: fixed;
    bottom: 10%;
    right: 3%;
    z-index: 999;
    font-size: 30px;
    background-color: #ffb808;
    border-radius: 50%;
    font-weight: 999;
    line-height: 2;
    &:hover {
      background-color: #33383b;
    }
    #up {
      color: white;
      padding: 20px 25px;
      width: 100%;
      height: 100%;
    }
  }
}
@media only screen and (max-width: 500px) {
  .wrapper1 {
    margin-top: 12%;
    height: 50vh;
    .scion-links {
      ul {
        li {
          a {
            font-size: 20px;
            padding: 5px 10px;
          }
        }
      }
    }
  }
  .wrapper2 {
    height: 60vh;
    .titles {
      font-size: 20px;
    }
    .story {
      font-size: 17px;
      width: 100%;
      height: 100%;
    }
  }
  .wrapper3 {
    height: 50vh;
    .titles {
      font-size: 20px;
    }
  }
  .wrapper4 {
    height: 30vh;
    background-repeat: no-repeat;
  }
  .wrapper5 {
    height: 70vh;
    background-position: center;
    .characters {
      height: 100vh;
      .character {
        width: 100%;
        height: 60vh;
        img {
          width: 50%;
          height: 60%;
        }
        display: flex;
        justify-content: space-between;
      }
      .ch-description {
        height: 100%;
        width: 100%;
        top: 57%;
        left: 5%;
        .name {
          font-size: 15px;
        }
        .story {
          width: 100%;
          font-size: 15px;
        }
      }
      #small {
        width: 70%;
      }
      .next,
      .prev {
        img {
          width: 100%;
        }
      }
      .arrow {
        position: absolute;
        cursor: pointer;
        z-index: 10;
        color: white;
      }
    }
  }
  .playnow {
    h1 {
      width: 70%;
      margin: 0 auto;
    }
    ul {
      display: flex;
      flex-direction: column;
      li {
        img {
          width: 100%;
        }
      }
    }
  }
  .footer-distributed {
    font: bold 12px sans-serif;
  }

  .footer-distributed .footer-icons li a {
    font-size: 24px;
    line-height: 1.6;
    width: 32px;
    height: 32px;
  }
  .footer-icons h4 {
    text-align: center;
    font-size: 10px;
    width: 100%;
    text-transform: uppercase;
  }
  .footer-distributed .footer-center p a {
    font-size: 15px;
  }
  .bootons {
    font-size: 25px;
    #up {
      padding: 17px 15px;
    }
  }
}
