.spin {
  width: 100%;
  height: 100%;
  margin-top: 7%;
  #wheel {
    width: 80%;
    display: flex;
    justify-content: center;
    position: absolute;
    align-items: center;
    margin-left: 20%;
    #canvas {
      margin: 0 auto;
    }
  }
}
@media only screen and (max-width: 600px) {
  .spin {
    overflow: hidden;
    height: 50%;
    width: 100%;

    #wheel {
      position: relative;
      width: 100%;
      #canvas {
        margin-top: 15%;
        width: 150%;
        left: 5%;
        z-index: 99;
        top: 20%;
        margin: 0 auto;
        position: fixed;
      }
    }
  }
}
.emailsx {
  height: 100vh;
  background-image: url("/src/images/ggrc1.png");
  background-position: center;
  background-size: 100% 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  form {
    margin: 0 auto;
    align-items: center;
    height: 50%;
    width: 50%;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    input {
      outline: 0;
      background: #f2f2f2;
      width: 100%;
      margin-bottom: 15%;
      font-weight: 700;
      padding: 5%;
      box-sizing: border-box;
      font-size: 14px;
    }
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
      /* display: none; <- Crashes Chrome on hover */
      -webkit-appearance: none;
      margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
    }
    button {
      font-family: "Roboto", sans-serif;
      text-transform: uppercase;
      outline: 0;
      background: #4caf50;
      width: 30vh;
      border: 0;
      padding: 15px;
      color: #ffffff;
      font-size: 14px;
      -webkit-transition: all 0.3 ease;
      transition: all 0.3 ease;
      cursor: pointer;
      &:hover {
        background: #59c45c;
      }
    }
  }
}
@media only screen and (max-width: 600px) {
  .emailsx {
    form {
      height: 50%;
      width: 100%;
      input {
        margin-right: 5%;
      }
    }
  }
}
