.spin {
  width: 100%;
  height: 100vh;
  .spinner-wrap {
    top: 0;
    background-image: url("/src/images/gogoracingbackground/withlogo.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    background-attachment: fixed;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;
    position: relative;
    .more-wrapper {
      position: fixed;
      height: 75%;
      background-color: white;
      border-radius: 10px;
      width: 50%;
      top: 15%;
      left: 25%;
      display: flex;
      flex-direction: column;
      align-items: center;
      #wheel {
        width: 80%;
        justify-content: center;
        position: relative;
        #canvas {
          position: fixed;
          top: 20%;
          left: 35%;
        }
      }
    }
  }
}
@media only screen and (max-width: 700px) {
  .spin {
    overflow: hidden;
    height: 100vh;
    width: 100%;
    .spinner-wrap {
      background-image: url("/src/images/gogoracingbackground/withlogo.png");
      background-repeat: no-repeat;
      width: 100%;
      height: 100%;
      background-size: 100% 100%;
      background-position: center;
      background-attachment: fixed;
      .more-wrapper {
        width: 100%;
        left: 0;
        #wheel {
          position: relative;
          width: 100%;
          #canvas {
            margin-top: 15%;
            width: 150%;
            left: 5%;
            z-index: 99;
            top: 20%;
            margin: 0 auto;
            position: fixed;
          }
        }
      }
    }
  }
}
.emailsx {
  height: 100vh;
  background-image: url("/src/images/ggrc1.png");
  background-position: center;
  background-size: 100% 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  h1 {
    margin-bottom: 3%;
  }
  form {
    margin: 0 auto;
    align-items: center;
    height: 50%;
    width: 50%;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    input {
      outline: 0;
      background: #f2f2f2;
      width: 100%;
      margin-bottom: 15%;
      font-weight: 700;
      padding: 5%;
      box-sizing: border-box;
      font-size: 14px;
    }
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
      /* display: none; <- Crashes Chrome on hover */
      -webkit-appearance: none;
      margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
    }
    button {
      font-family: "Roboto", sans-serif;
      text-transform: uppercase;
      outline: 0;
      background: #4caf50;
      width: 30vh;
      border: 0;
      padding: 15px;
      color: #ffffff;
      font-size: 14px;
      -webkit-transition: all 0.3 ease;
      transition: all 0.3 ease;
      cursor: pointer;
      &:hover {
        background: #59c45c;
      }
    }
  }
}
@media only screen and (max-width: 600px) {
  .emailsx {
    form {
      height: 50%;
      width: 100%;
      input {
        margin-right: 5%;
      }
    }
  }
}
