.terms {
  width: 100%;
  .bootons {
    position: fixed;
    bottom: 10%;
    right: 3%;
    z-index: 999;
    font-size: 30px;
    background-color: #ffb808;
    border-radius: 50%;
    font-weight: 999;
    line-height: 2;
    &:hover {
      background-color: #33383b;
    }
    #up {
      color: white;
      padding: 20px 15px;
      width: 100%;
      height: 100%;
    }
  }
  .terms-section {
    width: 100%;

    .terms-wrapper {
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 100%;
      width: 90%;
      text-align: justify;
      margin: 0 auto;
      color: white;
      margin-top: 7%;
    }
    .article-4,
    .article-5,
    .article-6 {
      ul {
        list-style-type: "● ";
        margin-left: 2%;
        li {
          margin-bottom: 2%;
          margin-top: 2%;
        }
      }
    }
    p {
      width: 70%;
    }
    h2 {
      font-size: 30px;
      margin-bottom: 2%;
    }
    h3 {
      font-size: 24px;
      margin-bottom: 1%;
    }
    h4 {
      margin-left: 1%;
      margin-bottom: 1%;
    }
    img {
      margin: 0 auto;
      width: 30%;
    }
    margin-top: 7%;
    h1 {
      font-size: 45px;
    }
    ul {
      list-style-type: "● ";
      li {
        width: 70%;
        margin-bottom: 2%;
      }
    }
    ul li ul li {
      list-style: circle;
    }
    .chapter-1 {
      margin: 0 auto;
      .article-1 {
        h3 {
          margin: 0;
        }
        p {
          margin: 0;
          margin-bottom: 8px;
        }
      }
      .article-2 {
        margin: 0 auto;
      }
    }
    .chapter-2 {
      .article-7 {
        ul li {
          list-style: none;
        }
        ul li ul li {
          list-style: circle;
        }
      }
      .article-9 {
        ul {
          list-style-type: "● ";
        }
      }
      .article-10 {
        ul {
          list-style-type: "● ";
        }
      }
      .article-11 {
        ul {
          list-style-type: "● ";
        }
      }
    }
    .chapter-3 {
      .article-12 {
        ul li {
          list-style-type: "● ";
        }
        ul li ul li {
          list-style: circle;
        }
      }
    }
  }
}
@media only screen and (max-width: 500px) {
  .terms {
    width: 100%;
    .terms-section {
      width: 100%;

      .article-1,
      .article-2,
      .article-3,
      .article-4,
      .article-5,
      .article-6,
      .article-7,
      .article-8,
      .article-9,
      .article-10,
      .article-11,
      .article-12,
      .article-13,
      .article-14,
      .article-15,
      .article-16,
      .article-17,
      .article-18,
      .article-19,
      .article-20,
      .article-21,
      .article-22,
      .article-23,
      .article-24,
      .article-25,
      .article-26,
      .article-27,
      .article-28,
      .article-29,
      .article-30,
      .article-31,
      .article-32,
      .article-33 {
        p {
          width: 100%;
          margin: 0 auto;
        }
        ul {
          li {
            margin: 0 auto;
            margin-bottom: 2%;
            margin-top: 2%;
            text-align: justify;
            width: 90%;
            ul {
              li {
                margin-bottom: 2%;
                margin-top: 2%;
              }
            }
          }
        }
      }

      .terms-wrapper {
        width: 100%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin: 0 auto;
        margin-top: 25%;
        justify-content: center;
        img {
          width: 50%;
        }
        h1 {
          font-size: 40px;
        }
        h2 {
          font-size: 20px;
        }
      }
      .addendum {
        ul {
          li {
            font-size: 10px;
            margin: 2% auto;
          }
        }
      }
    }
  }
}
