.textEditor {
  width: 200%;
  height: 100%;
  .text-editor-wrapper {
    box-sizing: border-box;
    width: 100%;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    form {
      width: 100%;
      label {
        margin-bottom: 1%;
        margin-top: 1%;
        width: 10%;
      }
      .inputs {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        .title,
        .description {
          width: 100%;
          margin: 0 1px;
          padding-bottom: 2%;
          border: 1px solid black;
        }
      }
      button {
        background-color: #000000;
        color: #fff;
        padding: 1%;
        width: 20%;
        margin-top: 2%;
        cursor: pointer;
        margin-bottom: 2%;
        &:hover {
          background-color: rgb(36, 35, 35);
          color: white;
        }
      }
      .btn {
        background-color: #000000;
        color: #fff;
        padding: 1%;
        width: 100%;
        margin-top: 2%;
        cursor: pointer;
        margin-bottom: 2%;
        &:hover {
          background-color: rgb(36, 35, 35);
          color: white;
        }
      }
      .outputs {
        width: 100%;
        height: 100%;
        border: 2px solid black;
        word-wrap: break-word;
        padding-bottom: 2%;
        margin-top: 5%;
        ul {
          list-style: unset;
          margin-left: 20px;
        }
        ol {
          margin-left: 20px;
        }
        object-fit: cover;
        overflow: hidden;
      }
      .editorsk {
        background-color: white;
        width: 100%;
        height: 100%;
        top: 10%;

        .rdw-embedded-modal-btn,
        .rdw-link-modal-btn {
          width: 100%;
        }

        .rdw-editor-main {
          height: 100%;
          width: 100%;
          border: 1px solid black;
          padding-bottom: 8%;
          cursor: text;
        }
      }
    }
  }
}
.edit-post-app {
  width: 100%;
  height: 100%;
  overflow: -moz-scrollbars-none;
  -ms-overflow-style: none;
  background-image: url("/src/images/gogoracingbackground/withlogo.png");
  background-repeat: no-repeat;
  background-position: center top;
  background-attachment: fixed;
  background-size: cover;
  padding-bottom: 40%;
  position: relative;
  .edit-pcontainer {
    width: 100%;
    .edit-row {
      box-sizing: border-box;
      width: 100%;
      max-width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      .update__forms {
        width: 70%;
        height: 100%;
        margin-top: 10%;
        display: flex;
        flex-direction: column;
        margin-top: 13%;
        margin-bottom: 5%;
        padding-bottom: 5%;
        background-color: white;
      }
    }
  }
}
